ALTER TABLE [AccountingArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AccountingArticlesTLinkAccountingArticlesToFinancialTransacto]
  FOREIGN KEY ([Accounting_Article_ID])
  REFERENCES [LinkAccountingArticlesToFinancialTransactorsT] ([Accounting_Articles_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [AccountingArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AccountingArticlesTLinkAccountingArticlesToIssuableDocumentsT]
  FOREIGN KEY ([Accounting_Article_ID])
  REFERENCES [LinkAccountingArticlesToIssuableDocumentsT] ([Accounting_Article_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [AccountingArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AccountingArticlesTLinkUsersToAccountingArticles]
  FOREIGN KEY ([Accounting_Article_ID])
  REFERENCES [LinkUsersToAccountingArticles] ([Accounting_Article_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [AccountsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AccountsTTransactorsT]
  FOREIGN KEY ([Account_ID])
  REFERENCES [TransactorsT] ([Account_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [AttributesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AttributesTAttributeValuesListsT]
  FOREIGN KEY ([Attribute_ID])
  REFERENCES [AttributeValuesListsT] ([Attribute_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [AttributesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].AttributesTLInkReferenceID(EntityTypeID)ToAttributeIDsT]
  FOREIGN KEY ([Attribute_ID])
  REFERENCES [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Attribute_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountiesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountiesTCitiesT]
  FOREIGN KEY ([County_ID])
  REFERENCES [CitiesT] ([County_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountriesTInstallationsΤ]
  FOREIGN KEY ([Country_ID])
  REFERENCES [InstallationsT] ([Country_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountriesTProductVATCategoriesT]
  FOREIGN KEY ([Country_ID])
  REFERENCES [ProductVATCategoriesT] ([Country_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountriesTProvincesT]
  FOREIGN KEY ([Country_ID])
  REFERENCES [ProvincesT] ([Country_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountriesTTransactorDetailsΤ]
  FOREIGN KEY ([Country_ID])
  REFERENCES [TransactorDetailsT] ([Country]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [CountriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].CountriesTTransactorVATStatusT]
  FOREIGN KEY ([Country_ID])
  REFERENCES [VATStatusT] ([Country_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DiscountLogsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DiscountLogsTDiscountLogsDetailsT]
  FOREIGN KEY ([Discount_Logs_ID])
  REFERENCES [DiscountLogsDetailsT] ([Discount_Logs_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DiscountOrOfferT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DiscountOrOfferTDiscountLogsT]
  FOREIGN KEY ([Discount_Or_Offer_ID])
  REFERENCES [DiscountLogsT] ([Discount_OR_Offer_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DiscountOrOfferT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DiscountOrOfferTLink_Products_To_Pricelists]
  FOREIGN KEY ([Discount_Or_Offer_ID])
  REFERENCES [LinkProductsToPricelistsT] ([Discount_Or_Offer_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DiscountOrOfferTypeT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DiscountOrOfferTypeTDiscountOrOfferT]
  FOREIGN KEY ([Discount_OR_Offer_Type_ID])
  REFERENCES [DiscountOrOfferT] ([Discount_Or_Offer_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DutiesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DutiesTDutiesPerJobT]
  FOREIGN KEY ([Duty_ID])
  REFERENCES [LInkDutiesPerJobT] ([Duty_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DutiesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DutiesTLinkTransactorsToDutiesT]
  FOREIGN KEY ([Duty_ID])
  REFERENCES [LinkTransactorsToDutiesT] ([Duty_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [DutyTypeT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].DutyTypeTDutiesT]
  FOREIGN KEY ([Duty_Type_ID])
  REFERENCES [DutiesT] ([Duty_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [EntitiesTypesToHaveAttributesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].EntitiesTypesToHaveAttributesLInkReferenceID(EntityTypeID)ToA]
  FOREIGN KEY ([Entities_To_Have_Attributes_ID])
  REFERENCES [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Entity_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [FormsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].FormsTLinkIntentionTypesToFormsT]
  FOREIGN KEY ([Form_ID])
  REFERENCES [LinkIntentionTypesToFormsT] ([Form_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [FormsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].FormsTLinkIssuableDocumentsToFormsT]
  FOREIGN KEY ([Form_ID])
  REFERENCES [LinkIssuableDocumentsToFormsT] ([Form_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [InstallationsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].InstallationsΤDocumentsIssuersT]
  FOREIGN KEY ([Installation_ID])
  REFERENCES [DocumentsIssuersT] ([Installation_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [InstallationsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].InstallationsΤLinkStoragesToInstallationsT]
  FOREIGN KEY ([Installation_ID])
  REFERENCES [LinkStoragesToInstallationsT] ([Installation_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IntentionsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IntentionsTLinkIssuableDocumentsToIntentionsT]
  FOREIGN KEY ([Intention_ID])
  REFERENCES [LinkIssuableDocumentsToIntentionsT] ([Intention_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IntentionsTypeT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IntentionsTypeTIntentionsT]
  FOREIGN KEY ([Intention_Type_ID])
  REFERENCES [IntentionsT] ([Intention_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IntentionsTypeT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IntentionsTypeTLinkIntentionTypesToFormsT]
  FOREIGN KEY ([Intention_Type_ID])
  REFERENCES [LinkIntentionTypesToFormsT] ([Intention_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IntentionsTypeT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IntentionsTypeTProducts_To_Accounts_IDT]
  FOREIGN KEY ([Intention_Type_ID])
  REFERENCES [LinkProductsToCompanyFinancialTransactorsT] ([Intention_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuableDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuableDocumentTLinkAccountingArticlesToIssuableDocumentsT]
  FOREIGN KEY ([Issuable_Document_ID])
  REFERENCES [LinkAccountingArticlesToIssuableDocumentsT] ([Issuable_Document_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuableDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuableDocumentTLinkIssuableDocumentToUserT]
  FOREIGN KEY ([Issuable_Document_ID])
  REFERENCES [LinkIssuableDocumentToUserT] ([Issuable_Document_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuableDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuableDocumentTLinkMainToSupplentaryDocumentsT]
  FOREIGN KEY ([Issuable_Document_ID])
  REFERENCES [LinkMainToSupplentaryDocumentsT] ([Main_IssuableDocument_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuableDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuableDocumentTLinkMainToSupplentaryDocumentsT1]
  FOREIGN KEY ([Issuable_Document_ID])
  REFERENCES [LinkMainToSupplentaryDocumentsT] ([Supplementary_IssuableDocument_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuableDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuableDocumentTLinkProductArticlesToIssuableDocumentsT]
  FOREIGN KEY ([Issuable_Document_ID])
  REFERENCES [LinkProductArticlesToIssuableDocumentsT] ([Issuable_Document_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuedDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuedDocumentTDiscountLogsT]
  FOREIGN KEY ([Issued_Document_ID])
  REFERENCES [DiscountLogsT] ([Issued_Document_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [IssuedDocumentT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].IssuedDocumentTIssuedDocumentProductDetailsT1]
  FOREIGN KEY ([Issued_Document_ID])
  REFERENCES [IssuedDocumentProductDetailsT] ([Issued_Document_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [JobsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].JobsTDutiesPerJobT]
  FOREIGN KEY ([Job_ID])
  REFERENCES [LInkDutiesPerJobT] ([Job_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [JobsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].JobsTLinkTransactorsToJobsT]
  FOREIGN KEY ([Job_ID])
  REFERENCES [LinkTransactorsToJobsT] ([Job_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [PriceListsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].PriceListsTLink_Products_To_Pricelists]
  FOREIGN KEY ([Price_List_ID])
  REFERENCES [LinkProductsToPricelistsT] ([Price_List_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ProductArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ProductArticlesTLinkProductArticlesToIssuableDocumentsT]
  FOREIGN KEY ([Product_Article_ID])
  REFERENCES [LinkProductArticlesToIssuableDocumentsT] ([Product_Article_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ProductArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ProductArticlesTLinkProductArticlesToProductsT]
  FOREIGN KEY ([Product_Article_ID])
  REFERENCES [LinkProductArticlesToProductsT] ([Product_Articles_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ProductArticlesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ProductArticlesTLinkUsersToProductArticles]
  FOREIGN KEY ([Product_Article_ID])
  REFERENCES [LinkUsersToProductArticles] ([Product_Article_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ProductVATCategoriesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ProductVATCategoriesTVAT_T]
  FOREIGN KEY ([Product_VAT_Category_ID])
  REFERENCES [VAT_T] ([Product_VAT_Category_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ProvincesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ProvincesTCountiesT]
  FOREIGN KEY ([Province_ID])
  REFERENCES [CountiesT] ([Province_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ReipesExecutionMethodΤ]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ReipesExecutionMethodΤRecipesExecutionMethodStepsT]
  FOREIGN KEY ([RecipesExecutionMethodID])
  REFERENCES [RecipesExecutionMethodStepsT] ([RecipesExecutionMethodID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ReipesExecutionMethodΤ]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ReipesExecutionMethodΤRecipesExecutionMethodWithProductsLink]
  FOREIGN KEY ([RecipesExecutionMethodID])
  REFERENCES [RecipesExecutionMethodWithProductsLink] ([RecipesExecutionMethodID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [ReipesExecutionMethodΤ]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].ReipesExecutionMethodΤRecipesExecutionMethodWithProductsLink1]
  FOREIGN KEY ([RecipesExecutionMethodID])
  REFERENCES [RecipesExecutionMethodWithProductsLink] ([RecipesExecutionMethodID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactionPointsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactionPointsTMap_Document_Product_Rows_To_Company's_Fina]
  FOREIGN KEY ([Transaction_Point_ID])
  REFERENCES [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ([Transaction_Point_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsBasicT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsBasicTTransactorContactDetailsT]
  FOREIGN KEY ([Basic_Transactor_ID])
  REFERENCES [TransactorContactDetailsT] ([Basic_Tsansactor_ID_FK]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsBasicT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsBasicTTransactorsT]
  FOREIGN KEY ([Basic_Transactor_ID])
  REFERENCES [TransactorsT] ([Basic_Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTLinkFinancialTransactorsToVatTransactorsT]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [LinkFinancialTransactorsToVatTransactorsT] ([Vat_Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTLinkFinancialTransactorsToVatTransactorsT1]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [LinkFinancialTransactorsToVatTransactorsT] ([Financial_Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTLinkTransactorsToDutiesT]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [LinkTransactorsToDutiesT] ([Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTLinkTransactorsToJobsT]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [LinkTransactorsToJobsT] ([Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTProductInventoryBalance]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [ProductInventoryBalanceT] ([Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTSuppliersDetailsΤ]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [TransactorDetailsT] ([Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorsTTransactorAddressDetailsT]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [TransactorAddressDetailsT] ([Transactor_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorsT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorTLinkStoragesToInstallationsT]
  FOREIGN KEY ([Transactor_ID])
  REFERENCES [LinkStoragesToInstallationsT] ([StorageID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [TransactorTypesT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorTypesTTransactorsT]
  FOREIGN KEY ([Transactor_Type_ID])
  REFERENCES [TransactorsT] ([Transactor_Type_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [VATStatusT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorVATStatusTTransactorDetailsT]
  FOREIGN KEY ([VAT_Status_ID])
  REFERENCES [TransactorDetailsT] ([VAT_Status_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [VATStatusT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].TransactorVATStatusTVAT_T]
  FOREIGN KEY ([VAT_Status_ID])
  REFERENCES [VAT_T] ([Transactor_VAT_Status_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [UsersT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].UsersTLinkIssuableDocumentToUserT]
  FOREIGN KEY ([User_ID])
  REFERENCES [LinkIssuableDocumentToUserT] ([User_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [UsersT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].UsersTLinkUsersToAccountingArticles]
  FOREIGN KEY ([User_ID])
  REFERENCES [LinkUsersToAccountingArticles] ([User_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [UsersT]
  ADD CONSTRAINT [[C:\Users\Niavra\OneDrive - ENVIRON ΜΟΝΟΠΡΟΣΩΠΗ Ι Κ Ε\GREENTEX ONE DRIVE\NIAVRADAKIS\Access files\ΑΝΑΠΤΥΞΗ\ERP\ENVIRON ERP BACK END.accdb]].UsersTLinkUsersToProductArticles]
  FOREIGN KEY ([User_ID])
  REFERENCES [LinkUsersToProductArticles] ([User_ID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [MSysNavPaneGroupCategories]
  ADD CONSTRAINT [MSysNavPaneGroupCategoriesMSysNavPaneGroups]
  FOREIGN KEY ([Id])
  REFERENCES [MSysNavPaneGroups] ([GroupCategoryID]) ON UPDATE CASCADE ON DELETE CASCADE;

ALTER TABLE [MSysNavPaneGroups]
  ADD CONSTRAINT [MSysNavPaneGroupsMSysNavPaneGroupToObjects]
  FOREIGN KEY ([Id])
  REFERENCES [MSysNavPaneGroupToObjects] ([GroupID]) ON UPDATE CASCADE ON DELETE CASCADE;