INSERT INTO ProductInventoryBalanceT ( Product_ID, Transactor_ID, Total_Debit, Total_Credit )
SELECT RecalculateInventoryBalancePerProductTransactorFromRecordsQ.Product_ID, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.Transactor_ID, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.SumOfDebit, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.SumOfCredit
FROM RecalculateInventoryBalancePerProductTransactorFromRecordsQ;
