SELECT LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_Value_Number
FROM LinkAttributeValueToEntitiesT
WHERE (((LinkAttributeValueToEntitiesT.Attribute_ID)=352) AND ((LinkAttributeValueToEntitiesT.Entity_Type_ID)=5));
