SELECT LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_Value_Number AS VatTransactorID
FROM LinkAttributeValueToEntitiesT
WHERE (((LinkAttributeValueToEntitiesT.Entity_Type_ID)=4) AND ((LinkAttributeValueToEntitiesT.Attribute_ID)=351));
