SELECT IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, AttributeVatPercentageForDocumentFinancialDetailsQ.VatPercentage, AttributeVatTransactorIDForDocumentFinancialDetailsQ.VatTransactorID
FROM (IssuedDocumentFinancialDetailsT LEFT JOIN AttributeVatPercentageForDocumentFinancialDetailsQ ON IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID = AttributeVatPercentageForDocumentFinancialDetailsQ.Entity_ID) LEFT JOIN AttributeVatTransactorIDForDocumentFinancialDetailsQ ON IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID = AttributeVatTransactorIDForDocumentFinancialDetailsQ.Entity_ID;
