PARAMETERS CurrentTimestampPar DateTime, CurrentUserIDPar Short, LinkAttributeValuesToEntitiesIDPar Long;
INSERT INTO LinkAttributeValueToEntitiesBackupT ( Link_Attribute_Value_To_Entity_ID, Entity_Type_ID, Entity_ID, Attribute_ID, Attribute_Value_String, Attribute_Value_Number, Attribute_Value_Boolean, Attribute_Value_Date, Attribute_Value_Time, Attribute_Value_TImestamp, Notes, Is_Included_To_Suggested_Attributes, Is_Deleted, AttLinkToEntityEdit_Timestamp, AttLinkToEntityEdit_UserID )
SELECT LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, LinkAttributeValueToEntitiesT.Entity_Type_ID, LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_ID, LinkAttributeValueToEntitiesT.Attribute_Value_String, LinkAttributeValueToEntitiesT.Attribute_Value_Number, LinkAttributeValueToEntitiesT.Attribute_Value_Boolean, LinkAttributeValueToEntitiesT.Attribute_Value_Date, LinkAttributeValueToEntitiesT.Attribute_Value_Time, LinkAttributeValueToEntitiesT.Attribute_Value_TImestamp, LinkAttributeValueToEntitiesT.Notes, LinkAttributeValueToEntitiesT.Is_Included_To_Suggested_Attributes, LinkAttributeValueToEntitiesT.Is_Deleted, [CurrentTimestampPar] AS AttLinkToEntityEdit_Timestamp, [CurrentUserIDPar] AS AttLinkToEntityEdit_UserID
FROM LinkAttributeValueToEntitiesT
WHERE (((LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID)=[LinkAttributeValuesToEntitiesIDPar]));
