SELECT ProductsΤ.Product_ID, ProductsΤ.Product_Description, ProductsΤ.Active, ProductsΤ.Sales_Category_ID, ProductsΤ.Product_Type_ID, ProductsΤ.Product_Category_ID
FROM ProductsΤ
WHERE (((ProductsΤ.Product_Category_ID)=1));
