SELECT ProductsT.*, ProductsT.Product_Category_ID, ProductsT.Product_Subcategory_ID
FROM ProductsT
WHERE (((ProductsT.Product_Category_ID)=tempvars!ProductCategoryToSearch) And ((ProductsT.Product_Subcategory_ID)=tempvars!ProductSubcategoryToSearch) And ((ProductsT.Product_Type_ID)=tempvars!ProductTypeToSearch)) Or (((ProductsT.Product_Category_ID)=tempvars!ProductCategoryToSearch) And ((ProductsT.Product_Subcategory_ID)=tempvars!ProductSubcategoryToSearch) And ((IsNull(tempvars!ProductTypeToSearch))=Yes)) Or (((ProductsT.Product_Subcategory_ID)=tempvars!ProductSubcategoryToSearch) And ((ProductsT.Product_Type_ID)=tempvars!ProductTypeToSearch) And ((IsNull(tempvars!ProductCategoryToSearch))=Yes)) Or (((ProductsT.Product_Subcategory_ID)=tempvars!ProductSubcategoryToSearch) And ((IsNull(tempvars!ProductTypeToSearch))=Yes) And ((IsNull(tempvars!ProductCategoryToSearch))=Yes)) Or (((ProductsT.Product_Category_ID)=tempvars!ProductCategoryToSearch) And ((ProductsT.Product_Type_ID)=tempvars!ProductTypeToSearch) And ((IsNull(tempvars!ProductSubcategoryToSearch))=Yes)) Or (((ProductsT.Product_Category_ID)=tempvars!ProductCategoryToSearch) And ((IsNull(tempvars!ProductTypeToSearch))=Yes) And ((IsNull(tempvars!ProductSubcategoryToSearch))=Yes)) Or (((ProductsT.Product_Type_ID)=tempvars!ProductTypeToSearch) And ((IsNull(tempvars!ProductCategoryToSearch))=Yes) And ((IsNull(tempvars!ProductSubcategoryToSearch))=Yes)) Or (((IsNull(tempvars!ProductTypeToSearch))=Yes) And ((IsNull(tempvars!ProductCategoryToSearch))=Yes) And ((IsNull(tempvars!ProductSubcategoryToSearch))=Yes));
