SELECT DocOtherEntityFinTranNewAndOldForProductDocumentsQ.NewOtherEntityFinancialTransactorID AS NewFinancialTransactorID, DocOtherEntityFinTranNewAndOldForProductDocumentsQ.OldOtherEntityFinancialTransactorID AS OldFinancialTransactorID, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[CreditToAdd]+[VatCreditToAdd]) AS DebitToAdd, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[DebitToAdd]+[VatDebitToAdd]) AS CreditToAdd, DocOtherEntityFinTranNewAndOldForProductDocumentsQ.Issued_Document_ID, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[NewCredit]+[NewVatCredit]) AS NewDebit, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[OldCredit]+[OldVatCredit]) AS OldDebit, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[OldDebit]+[DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[OldVatDebit]) AS OldCredit, Sum([DebitAndCreditForTransactorsFromProductDetailsRecordsQ].[NewDebit]+[NewVatDebit]) AS NewCredit
FROM DocOtherEntityFinTranNewAndOldForProductDocumentsQ INNER JOIN DebitAndCreditForTransactorsFromProductDetailsRecordsQ ON DocOtherEntityFinTranNewAndOldForProductDocumentsQ.Issued_Document_ID = DebitAndCreditForTransactorsFromProductDetailsRecordsQ.Issued_Document_ID
GROUP BY DocOtherEntityFinTranNewAndOldForProductDocumentsQ.NewOtherEntityFinancialTransactorID, DocOtherEntityFinTranNewAndOldForProductDocumentsQ.OldOtherEntityFinancialTransactorID, DocOtherEntityFinTranNewAndOldForProductDocumentsQ.Issued_Document_ID;
