PARAMETERS IssuedDocumentIDPar Long;
SELECT IssuedDocumentFinancialDetailsT.Debit AS NewDebit, IssuedDocumentFinancialDetailsT.Credit AS NewCredit, IssuedDocumentFinancialDetailsBackUpT.Debit AS OldDebit, IssuedDocumentFinancialDetailsBackUpT.Credit AS OldCredit, IssuedDocumentFinancialDetailsT.Is_Deleted AS NewIsDeleted, IssuedDocumentFinancialDetailsBackUpT.Is_Deleted AS OldIsDeleted, IssuedDocumentFinancialDetailsT.Transactor_ID AS NewFinancialTransactorID, IssuedDocumentFinancialDetailsBackUpT.Transactor_ID AS OldFinancialTransactorID, IIf([NewIsDeleted],-Nz([OldDebit],0),[NewDebit]-Nz([OldDebit],0)) AS DebitToAdd, IIf([NewIsDeleted],-Nz([OldCredit],0),[NewCredit]-Nz([OldCredit],0)) AS CreditToAdd, IssuedDocumentFinancialDetailsT.IssuedDocumentFinancialDetails_Backup_ID AS FKBackupID, IssuedDocumentFinancialDetailsBackUpT.IssuedDocumentFinancialDetails_Backup_ID AS BackupID
FROM IssuedDocumentFinancialDetailsT LEFT JOIN IssuedDocumentFinancialDetailsBackUpT ON IssuedDocumentFinancialDetailsT.IssuedDocumentFinancialDetails_Backup_ID = IssuedDocumentFinancialDetailsBackUpT.IssuedDocumentFinancialDetails_Backup_ID
WHERE (((IssuedDocumentFinancialDetailsBackUpT.Is_Deleted)=False Or (IssuedDocumentFinancialDetailsBackUpT.Is_Deleted) Is Null) AND ((IssuedDocumentFinancialDetailsT.Issued_Document_ID)=[IssuedDocumentIDPar]));
