PARAMETERS [Δώστε Attribute ID] Short;
SELECT LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID AS [Parent Record ID], LinkAttributeValueToEntitiesT.Entity_Type_ID AS [Parent Entity_Type_ID], EntitiesTypesToHaveAttributesT.Entities_To_Have_Attributes_Description AS [Parent Entity_Description], LinkAttributeValueToEntitiesT.Attribute_ID AS [Parent Attribute_ID], EntitiesTypesToHaveAttributesT_1.Entities_To_Have_Attributes_Description AS [Child Entity Description], LinkAttributeValueToEntitiesT_1.Attribute_ID AS [Child Attribute_ID], LinkAttributeValueToEntitiesT_1.Link_Attribute_Value_To_Entity_ID AS [Child Record ID]
FROM EntitiesTypesToHaveAttributesT AS EntitiesTypesToHaveAttributesT_1 INNER JOIN (EntitiesTypesToHaveAttributesT INNER JOIN (LinkAttributeValueToEntitiesT INNER JOIN LinkAttributeValueToEntitiesT AS LinkAttributeValueToEntitiesT_1 ON LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID = LinkAttributeValueToEntitiesT_1.Entity_ID) ON EntitiesTypesToHaveAttributesT.Entities_To_Have_Attributes_ID = LinkAttributeValueToEntitiesT.Entity_Type_ID) ON EntitiesTypesToHaveAttributesT_1.Entities_To_Have_Attributes_ID = LinkAttributeValueToEntitiesT_1.Entity_Type_ID
WHERE (((LinkAttributeValueToEntitiesT.Attribute_ID)=[Δώστε Attribute ID]) And ((InStr([Δώστε Τύπο Οντότητας που έχει λινκαριστεί στο παρελθόν το attribute και για τον οποίο θα επιστραφούν οι τιμές των subattributes],LinkAttributeValueToEntitiesT.Entity_Type_ID))>"0") And ((LinkAttributeValueToEntitiesT_1.Entity_Type_ID)=7));
