SELECT IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, IssuedDocumentFinancialDetailsT.Issued_Document_ID, IssuedDocumentFinancialDetailsT.Transactor_ID, IssuedDocumentFinancialDetailsT.Debit, IssuedDocumentFinancialDetailsT.Credit, IssuedDocumentFinancialDetailsT.Notes, IssuedDocumentFinancialDetailsT.Is_New, TransactorsFinancialQ.Basic_Transactor_Description, IssuedDocumentFinancialDetailsT.Is_Deleted, TransactionsT.Transaction_ID, IssuedDocumentFinancialDetailsT.Document_Financial_Details_Insert_Timestamp, IssuedDocumentFinancialDetailsT.Document_Financial_Details_Insert_User_ID, IssuedDocumentFinancialDetailsT.IssuedDocumentFinancialDetails_Backup_ID
FROM (TransactionsT INNER JOIN (IssuedDocumentT INNER JOIN IssuedDocumentFinancialDetailsT ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentFinancialDetailsT.Issued_Document_ID) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID) INNER JOIN TransactorsFinancialQ ON IssuedDocumentFinancialDetailsT.Transactor_ID = TransactorsFinancialQ.Transactor_ID
WHERE (((IssuedDocumentFinancialDetailsT.Is_Deleted)=No))
ORDER BY IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID;
