PARAMETERS IssuedDocumentIDToRecover Long, ProductIDToRecover Long, QuantityToRecover IEEEDouble, UnitPriceBeforeDiscountToRecover IEEEDouble, [Total#UnitDiscountToRecover] IEEEDouble, [VAT%ToRecover] IEEEDouble, VATIDToRecover Long, NotesToRecover LongText, [TransactorProductID(Main_Entity)ToRecover] Long, IsDeletedToRecover Bit, IssuedDocumentProductDetailsBackupID Long, IssuedDocumentProductDetailsBackupIDToRecover Long, [TransactorProductID(Other_Entity)ToRecover] Long, AccountingBehaviorIDToRecover Long, UnitPriceAfterDiscountToRecover IEEEDouble, FinancialTransactorIDToRecover Long, VatTransactorIDToRecover Long;
UPDATE IssuedDocumentProductDetailsT SET IssuedDocumentProductDetailsT.Issued_Document_ID = [IssuedDocumentIDToRecover], IssuedDocumentProductDetailsT.Product_ID = [ProductIDToRecover], IssuedDocumentProductDetailsT.Quantity = [QuantityToRecover], IssuedDocumentProductDetailsT.Unit_Price_Before_Discount = [UnitPriceBeforeDiscountToRecover], IssuedDocumentProductDetailsT.[Total # Unit Discount] = [Total#UnitDiscountToRecover], IssuedDocumentProductDetailsT.[VAT%] = [VAT%ToRecover], IssuedDocumentProductDetailsT.VAT_ID = [VATIDToRecover], IssuedDocumentProductDetailsT.Notes = [NotesToRecover], IssuedDocumentProductDetailsT.[Transactor_Product_ID(Main_Entity)] = [TransactorProductID(Main_Entity)ToRecover], IssuedDocumentProductDetailsT.Is_Deleted = [IsDeletedToRecover], IssuedDocumentProductDetailsT.IssuedDocumentProductDetails_Backup_ID = Null, IssuedDocumentProductDetailsT.[Transactor_Product_ID(Other_Entity)] = [TransactorProductID(Other_Entity)ToRecover], IssuedDocumentProductDetailsT.Accounting_Behavior_ID = [AccountingBehaviorIDToRecover], IssuedDocumentProductDetailsT.Unit_Price_After_Discount = [UnitPriceAfterDiscountToRecover], IssuedDocumentProductDetailsT.Financial_Transactor_ID = [FinancialTransactorIDToRecover], IssuedDocumentProductDetailsT.Vat_Transactor_ID = [VatTransactorIDToRecover]
WHERE (((IssuedDocumentProductDetailsT.IssuedDocumentProductDetails_Backup_ID)=[IssuedDocumentProductDetailsBackupID]));
