SELECT [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Issued_Document_Product_Details_ID, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Issued_Document_ID, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Product_ID, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Quantity, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Unit_Price_Net_Value_Before_Discount, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Unit_Price_Gross_Value_Before_Discount, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Unit_Price_Net_Value_After_Discount, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Unit_Price_Gross_Value_After_Discount, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[Discount%], [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[Discount_Total#] AS Expr1, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[VAT%], [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[VAT#] AS Expr2, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Total_Net_Value AS Expr3, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Total_Value AS Expr4, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Notes, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[Financial_Transaction_Point_ID(Main_Entity)], [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[Company's_Financial_Transactor_ID(Main Entity)] AS Transactor_ID, [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].[Main_Entity_Debited(For_Product_Documents)] AS [TICK=Debitor-UNTICK=Creditor], [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ].Has_Financial_Details, True AS Is_Financial, False AS Is_Product
FROM [MapProductRecordsToCompany'sFinancialTransactor&VATTransactorQ];
