PARAMETERS CurrentTimestamp DateTime, CurrentUserID Long, ProductDetailsID Long;
INSERT INTO IssuedDocumentProductDetailsBackupT ( Issued_Document_Product_Details_ID, Issued_Document_ID, Product_ID, Quantity, Unit_Price_Before_Discount, [Total # Unit Discount], [VAT%], VAT_ID, Notes, [Transactor_Product_ID(Main_Entity)], [Transactor_Product_ID(Other_Entity)], Accounting_Behavior_ID, Is_Deleted, Document_Product_Details_Insert_Timestamp, Document_Product_Details_Insert_User_ID, Document_Product_Details_Edit_Timestamp, Document_Product_Details_Edit_User_ID, Unit_Price_After_Discount, Financial_Transactor_ID, Vat_Transactor_ID )
SELECT IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, IssuedDocumentProductDetailsT.Issued_Document_ID, IssuedDocumentProductDetailsT.Product_ID, IssuedDocumentProductDetailsT.Quantity, IssuedDocumentProductDetailsT.Unit_Price_Before_Discount, IssuedDocumentProductDetailsT.[Total # Unit Discount], IssuedDocumentProductDetailsT.[VAT%], IssuedDocumentProductDetailsT.VAT_ID, IssuedDocumentProductDetailsT.Notes, IssuedDocumentProductDetailsT.[Transactor_Product_ID(Main_Entity)], IssuedDocumentProductDetailsT.[Transactor_Product_ID(Other_Entity)], IssuedDocumentProductDetailsT.Accounting_Behavior_ID, IssuedDocumentProductDetailsT.Is_Deleted, IssuedDocumentProductDetailsT.Document_Product_Details_Insert_Timestamp, IssuedDocumentProductDetailsT.Document_Product_Details_Insert_User_ID, [currenttimestamp] AS Document_Product_Details_Edit_Timestamp, [currentuserid] AS Document_Product_Details_Edit_User_ID, IssuedDocumentProductDetailsT.Unit_Price_After_Discount, IssuedDocumentProductDetailsT.Financial_Transactor_ID, IssuedDocumentProductDetailsT.Vat_Transactor_ID
FROM IssuedDocumentProductDetailsT
WHERE (((IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID)=[ProductDetailsID]));
