PARAMETERS currenttimestamp DateTime, currentuserID Short, issueddocumentID Long;
INSERT INTO IssuedDocumentBackupT ( Issued_Document_ID, Transaction_ID, Issued_Date, Issuable_Document_ID, Intention_ID, Document_Official_Number_Sequence, [Financial_Transaction_Point_ID(Main_Entity)], [Transactor_Financial_ID(Other_Entity)], [Transactor_Product_ID(Main_Entity)], [Transactor_Product_ID(Other_Entity)], User_Notes_For_Other_Users, User_Notes_For_Accounting_Department, Has_Been_Cancelled_By_Document_ID, O, U, IS_Deleted, Document_Edit_Timestamp, Document_Edit_User_ID )
SELECT IssuedDocumentT.Issued_Document_ID, IssuedDocumentT.Transaction_ID, IssuedDocumentT.Issued_Date, IssuedDocumentT.Issuable_Document_ID, IssuedDocumentT.Intention_ID, IssuedDocumentT.Document_Official_Number_Sequence, IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)], IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)], IssuedDocumentT.[Transactor_Product_ID(Main_Entity)], IssuedDocumentT.[Transactor_Product_ID(Other_Entity)], IssuedDocumentT.User_Notes_For_Other_Users, IssuedDocumentT.User_Notes_For_Accounting_Department, IssuedDocumentT.Has_Been_Cancelled_By_Document_ID, IssuedDocumentT.O, IssuedDocumentT.U, IssuedDocumentT.IS_Deleted, [currenttimestamp] AS Document_Edit_Timestamp, [currentuserID] AS Document_Edit_User_ID
FROM IssuedDocumentT
WHERE (((IssuedDocumentT.Issued_Document_ID)=[issueddocumentID]));
