PARAMETERS CurrentTimestamp DateTime, CurrentUserID Short;
INSERT INTO IssuedDocumentFinancialDetailsBackUpT ( Issued_Document_Financial_Details_ID, Issued_Document_ID, Transactor_ID, Debit, Credit, Notes, Is_Deleted, Document_Financial_Details_Insert_Timestamp, Document_Financial_Details_Insert_User_ID, Document_Financial_Details_Edit_Timestamp, Document_Financial_Details_Edit_User_ID )
SELECT IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, IssuedDocumentFinancialDetailsT.Issued_Document_ID, IssuedDocumentFinancialDetailsT.Transactor_ID, IssuedDocumentFinancialDetailsT.Debit, IssuedDocumentFinancialDetailsT.Credit, IssuedDocumentFinancialDetailsT.Notes, IssuedDocumentFinancialDetailsT.Is_Deleted, IssuedDocumentFinancialDetailsT.Document_Financial_Details_Insert_Timestamp, IssuedDocumentFinancialDetailsT.Document_Financial_Details_Insert_User_ID, [currenttimestamp] AS Document_Financial_Details_Edit_Timestamp, [currentuserid] AS Document_Financial_Details_Edit_User_ID
FROM IssuedDocumentFinancialDetailsT
WHERE (((IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID)=[Forms]![DocumentFinancialDetailsAddF]![DocumentFinancialDetailsMainAddSF]![DocumentFinancialDetailsSF].[form]![IssuedDocumentFinancialDetailsIDTbox]));
