SELECT IssuedDocumentT.Transaction_ID, IssuedDocumentFinancialDetailsT.Issued_Document_ID, IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID AS Issued_Document_Details_ID, IssuedDocumentT.Issued_Date, IssuedDocumentFinancialDetailsT.Transactor_ID, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description AS Transactor_Description, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription, IssuedDocumentFinancialDetailsT.Debit, IssuedDocumentFinancialDetailsT.Credit, IssuableDocumentT.Issuable_Document_Description, IssuedDocumentT.Document_Official_Number_Sequence, IssuedDocumentT.Intention_ID, IntentionsT.Intention_Description, IssuableDocumentT.Is_Positive, "Accounting" AS Sector
FROM TransactorsWithBasicTransactorsDescriptionQ INNER JOIN ((TransactionsT INNER JOIN (IssuableDocumentT INNER JOIN (IssuedDocumentT INNER JOIN IssuedDocumentFinancialDetailsT ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentFinancialDetailsT.Issued_Document_ID) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID) INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentFinancialDetailsT.Transactor_ID
WHERE (((TransactionsT.Is_Deleted)=False) AND ((IssuedDocumentT.IS_Deleted)=False) AND ((IssuedDocumentFinancialDetailsT.Is_Deleted)=False) AND ((IssuedDocumentT.Has_Been_Cancelled_By_Document_ID) Is Null));
