SELECT FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ.Issued_Document_ID, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Issued_Date, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Document_Official_Number_Sequence, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Issuable_Document_Description, FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ.Transactor_ID, TransactorsFinancialQ.Basic_Transactor_Description, IIf([FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ]![TICK=Debitor-UNTICK=Creditor]=True,[amount],Null) AS DEBIT, IIf([FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ]![TICK=Debitor-UNTICK=Creditor]=False,[amount],Null) AS CREDIT, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Issued_Time, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Intention_ID, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Intention_Description, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Intention_Type_ID, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Intention_Type_Description, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.User_Notes_For_Other_Users, IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.User_Notes_For_Accounting_Department, IssuableDocumentT.Has_Product_Details, IssuableDocumentT.Has_Financial_Details, IssuableDocumentT.Distinction_Additive, TransactorsFinancialQ.Transactor_Type_ID, TransactorsFinancialQ.Transactor_Type_Desription
FROM (TransactorsFinancialQ INNER JOIN FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ ON TransactorsFinancialQ.Transactor_ID = FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ.Transactor_ID) INNER JOIN (IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ INNER JOIN IssuableDocumentT ON IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Issuable_Document_ID = IssuableDocumentT.Issuable_Document_ID) ON FinalFinancialRecordsFromAllDocsGroupedByTransacWithoutDetailsQ.Issued_Document_ID = IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.Issued_Document_ID;
