SELECT IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, IssuedDocumentProductDetailsT.Issued_Document_ID, IssuedDocumentProductDetailsT.Product_ID, IssuedDocumentProductDetailsT.Quantity, IssuedDocumentProductDetailsT.Unit_Price_After_Discount, IssuedDocumentProductDetailsT.[VAT%], Format(Round([Total_Gross_Value]-[Total_Vat_#],2),"Currency") AS Total_Net_Value, Format(IIf(IsNull([quantity]) Or IsNull([Unit_Price_Before_Discount]),0,IIf([Product_Values_YESisGross_NOisNet]=True,Round(Nz([quantity],0)*(Nz([Unit_Price_After_Discount],0)-(Nz([Unit_Price_After_Discount],0)/(1+[IssuedDocumentProductDetailsT].[Vat%]))),2),Round(Nz([Unit_Price_After_Discount],0)*[IssuedDocumentProductDetailsT].[VAT%]*Nz([quantity],0),2))),"Currency") AS [Total_Vat_#], Format(IIf([Product_Values_YESisGross_NOisNet]=True,Round(([quantity]*[Unit_Price_After_Discount]),2),Round(([quantity]*[Unit_Price_After_Discount])+[Total_Vat_#],2)),"Currency") AS Total_Gross_Value, IssuedDocumentProductDetailsT.Financial_Transactor_ID AS Document_Details_Financial_Transactor_ID, IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] AS Document_Financial_Transactor_Other_Entity, IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)], IssuedDocumentProductDetailsT.Vat_Transactor_ID, IssuedDocumentProductDetailsT.Accounting_Behavior_ID, IssuableDocumentT.Product_Values_YESisGross_NOisNet
FROM TransactionsT INNER JOIN (IssuableDocumentT INNER JOIN (IssuedDocumentT INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID)) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID
WHERE (((IssuedDocumentT.IS_Deleted)=False) AND ((IssuedDocumentProductDetailsT.Is_Deleted)=False) AND ((TransactionsT.Is_Deleted)=False) AND ((IssuedDocumentT.Has_Been_Cancelled_By_Document_ID) Is Null));
