SELECT ProductDetailsJoinedWithIssuedDocumentQ.Transaction_ID, ProductDetailsJoinedWithIssuedDocumentQ.IssuedDocumentProductDetailsT.Issued_Document_ID AS Issued_Document_ID, ProductDetailsJoinedWithIssuedDocumentQ.Issued_Document_Product_Details_ID AS Issued_Document_Details_ID, ProductDetailsJoinedWithIssuedDocumentQ.Issued_Date, ProductDetailsJoinedWithIssuedDocumentQ.Vat_Transactor_ID AS Transactor_ID, ProductDetailsJoinedWithIssuedDocumentQ.Vat_Transactor_Description AS Transactor_Description, ProductDetailsJoinedWithIssuedDocumentQ.VAT_Transactor_Type_Desription AS Transactor_Type_Desription, ProductDetailsJoinedWithIssuedDocumentQ.VatDebit AS Debit, ProductDetailsJoinedWithIssuedDocumentQ.VatCredit AS Credit, ProductDetailsJoinedWithIssuedDocumentQ.Issuable_Document_Description, ProductDetailsJoinedWithIssuedDocumentQ.Document_Official_Number_Sequence, ProductDetailsJoinedWithIssuedDocumentQ.Intention_ID, ProductDetailsJoinedWithIssuedDocumentQ.Intention_Description, ProductDetailsJoinedWithIssuedDocumentQ.Is_Positive, "Commercial" AS Sector
FROM ProductDetailsJoinedWithIssuedDocumentQ;
