SELECT DISTINCT LinkAttributeValueToEntitiesT.Attribute_ID AS Child_Attribute_ID, LinkAttributeValueToEntitiesT.Entity_ID AS Child_Entity_ID, LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID AS Child_Link_Attribute_Value_To_Entity_ID, LinkAttributeValueToEntitiesT_1.Entity_Type_ID AS Parent_Entity_Type_ID, LinkAttributeValueToEntitiesT_1.Link_Attribute_Value_To_Entity_ID AS Parent_Link_Attribute_Value_To_Entity_ID, LinkAttributeValueToEntitiesT_1.Attribute_ID AS Parent_Attribute_ID
FROM (AttributesT INNER JOIN LinkAttributeValueToEntitiesT ON AttributesT.Attribute_ID = LinkAttributeValueToEntitiesT.Attribute_ID) LEFT JOIN LinkAttributeValueToEntitiesT AS LinkAttributeValueToEntitiesT_1 ON LinkAttributeValueToEntitiesT.Entity_ID = LinkAttributeValueToEntitiesT_1.Link_Attribute_Value_To_Entity_ID
WHERE (((LinkAttributeValueToEntitiesT.Entity_Type_ID)=7));
