SELECT IssuedDocumentT.Issued_Document_ID, Round(DSum("IssuedDocumentFinancialDetailsT.debit","IssuedDocumentFinancialDetailsT","IssuedDocumentFinancialDetailsT.Issued_Document_ID = " & [Issued_Document_ID]),2) AS Total_Debit, Round(DSum("IssuedDocumentFinancialDetailsT.credit","IssuedDocumentFinancialDetailsT","IssuedDocumentFinancialDetailsT.Issued_Document_ID = " & [Issued_Document_ID]),2) AS Total_Credit, Round(DSum("IssuedDocumentFinancialDetailsT.debit","IssuedDocumentFinancialDetailsT","IssuedDocumentFinancialDetailsT.Issued_Document_ID = " & [Issued_Document_ID] & "AND IssuedDocumentFinancialDetailsT.Transactor_ID " & IIf(IsNull([Forms]![DocumentSearchF].[TransactorIDCbo])," LIKE ""*"" "," = " & [Forms]![DocumentSearchF].[TransactorIDCbo])),2) AS Transactor_Debit, Round(DSum("IssuedDocumentFinancialDetailsT.credit","IssuedDocumentFinancialDetailsT","IssuedDocumentFinancialDetailsT.Issued_Document_ID = " & [Issued_Document_ID] & "AND IssuedDocumentFinancialDetailsT.Transactor_ID " & IIf(IsNull([Forms]![DocumentSearchF].[TransactorIDCbo])," LIKE ""*"" "," = " & [Forms]![DocumentSearchF].[TransactorIDCbo])),2) AS Transactor_Credit
FROM IssuedDocumentT;
