SELECT HelpTableForUseAttributeValuesAsFiltersT.Help_Table_For_Use_Attribute_Values_As_Filters_ID, HelpTableForUseAttributeValuesAsFiltersT.Attribute_ID, [attribute_Value_string] & [Attribute_Value_Number] & [Attribute_Value_Boolean] & [Attribute_Value_Date] & [Attribute_Value_Time] & [Attribute_Value_TImestamp] AS Attribute_Value, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_String, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Number, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Boolean, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Date, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Time, HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_TImestamp
FROM HelpTableForUseAttributeValuesAsFiltersT;
