SELECT LinkAttributesToProductsQ.*
FROM LinkAttributesToProductsQ RIGHT JOIN (SELECT DISTINCT [AfterStringQ].Entity_ID FROM HelpTableForUseAttributeValuesAsFiltersT LEFT JOIN (SELECT LinkAttributesToProductsQ.* FROM LinkAttributesToProductsQ RIGHT JOIN (SELECT DISTINCT 		                         LinkAttributesToProductsQ.Entity_ID 	                         FROM 		                         HelpTableForUseAttributeValuesAsFiltersT 	                         LEFT JOIN                           Select LinkAttributesToProductsQ.*                          FROM LinkAttributesToProductsQ                             ON 		                         HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_String = LinkAttributesToProductsQ.Attribute_Value_String)  AS StringQ ON [LinkAttributesToProductsQ].[Entity_ID] = StringQ.Entity_ID)  AS AfterStringQ ON HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Number = AfterStringQ.Attribute_Value_Number)  AS NumberQ ON [LinkAttributesToProductsQ].[Entity_ID] = NumberQ.Entity_ID;
