SELECT IssuedDocumentProductDetailsT.Product_ID, IssuedDocumentProductDetailsT.[Transactor_Product_ID(Other_Entity)] AS Transactor_ID, 0 AS Debit, Sum(IssuedDocumentProductDetailsT.quantity) AS Credit
FROM (TransactionsT INNER JOIN (IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID)
GROUP BY IssuedDocumentProductDetailsT.Product_ID, IssuedDocumentProductDetailsT.[Transactor_Product_ID(Other_Entity)], IssuableDocumentT.[Main_Product_Entity_Debited(For_Product_Documents)], TransactionsT.Is_Deleted, IssuedDocumentT.IS_Deleted, IssuedDocumentProductDetailsT.Is_Deleted, IssuableDocumentT.Affects_Inventory
HAVING (((IssuableDocumentT.[Main_Product_Entity_Debited(For_Product_Documents)])=Yes) AND ((TransactionsT.Is_Deleted)=No) AND ((IssuedDocumentT.IS_Deleted)=No) AND ((IssuedDocumentProductDetailsT.Is_Deleted)=No) AND ((IssuableDocumentT.Affects_Inventory)=1));
