SELECT FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Issued_Date, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Issued_Document_ID, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Issuable_Document_Description, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Transactor_ID, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Basic_Transactor_Description, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Product_ID, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Product_Description, IIf([tick=debitor-untick=creditor]=-1,[quantity],Null) AS Quantity_Debit, IIf([tick=debitor-untick=creditor]=0,[quantity],Null) AS Quantity_Credit, Nz([Quantity_Debit],0)-Nz([Quantity_Credit],0) AS Inventory_Quantity, IIf([FinalProductRecordsWIthProductlTransactorsWithDetailsQ].[Transactor_ID]=[Transactor_Product_ID(Main_Entity)],[Transactor_Product_Other_Entity_Description],[Transactor_Product_Main_Entity_Description]) AS Other_Transactor, [FinalProductRecordsWIthProductlTransactorsWithDetailsQ].[Transactor_ID] & " " & [FinalProductRecordsWIthProductlTransactorsWithDetailsQ].[Product_ID] AS Concatenation_For_Subdatasheet_As_Child, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Document_Official_Number, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Distinction_Additive, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.User_Notes_For_Other_Users, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.[Marketing Label], FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Base_Product_ID, FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Intention_Description
FROM FinalProductRecordsWIthProductlTransactorsWithDetailsQ INNER JOIN TransactorsProductCompanyEntitiesQ ON FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Transactor_ID = TransactorsProductCompanyEntitiesQ.Transactor_ID
WHERE (((TransactorsProductCompanyEntitiesQ.Transactor_Type_ID)=1))
ORDER BY FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Issued_Date DESC , FinalProductRecordsWIthProductlTransactorsWithDetailsQ.Issued_Document_ID;
