SELECT IssuedDocumentFinancialDetailsFinalSimpleQ.IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, IssuedDocumentFinancialDetailsFinalSimpleQ.Issued_Document_ID, IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_ID, IssuedDocumentFinancialDetailsFinalSimpleQ.Debit, IssuedDocumentFinancialDetailsFinalSimpleQ.Credit, IssuedDocumentFinancialDetailsFinalSimpleQ.Notes, IssuedDocumentFinancialDetailsFinalSimpleQ.Is_Deleted, IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_Type_ID, IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_Type_ID
FROM IssuedDocumentFinancialDetailsFinalSimpleQ
WHERE (((IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_Type_ID)<>10));
