SELECT IssuedDocumentFinancialDetailsFinalSimpleQ.*, IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_Type_ID
FROM IssuedDocumentFinancialDetailsFinalSimpleQ
WHERE (((IssuedDocumentFinancialDetailsFinalSimpleQ.Transactor_Type_ID)=10));
