SELECT IssuedDocumentProductDetailsT.*, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, IssuedDocumentT.Issued_Date, IssuedDocumentT.Document_Official_Number_Sequence, IntentionsT.Intention_Description, DocumentsIssuersT.Document_Issuer_Description, IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, ProductsT.Product_Description, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description AS [Συμβαλλόμενος Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID AS [ID Συμβαλλόμενου Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription AS [Τύπος Συμβαλλόμενου Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ_1.Basic_Transactor_Description AS [Αντισυμβαλλόμενος Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_ID AS [ID Αντισυμβαλλόμενου Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_Desription AS [Τύπος Αντισυμβαλλόμενου Οικονομικά], TransactorsWithBasicTransactorsDescriptionQ_2.Basic_Transactor_Description AS [Συμβαλλόμενος Προϊοντικά], TransactorsWithBasicTransactorsDescriptionQ_2.Transactor_ID AS [ID Συμβαλλόμενου Προϊοντικά], TransactorsWithBasicTransactorsDescriptionQ_2.Transactor_Type_Desription AS [Τύπος Συμβαλλόμενου Προϊόντικά], TransactorsWithBasicTransactorsDescriptionQ_3.Basic_Transactor_Description AS [Αντισυμβαλλόμενος Προϊοντικά], TransactorsWithBasicTransactorsDescriptionQ_3.Transactor_ID AS [ID Αντισυμβαλλόμενου Προϊοντικά], TransactorsWithBasicTransactorsDescriptionQ_3.Transactor_Type_Desription AS [Τύπος Αντισυμβαλλόμενου Προϊόντικά]
FROM ProductsT INNER JOIN ((DocumentsIssuersT INNER JOIN (TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_3 RIGHT JOIN (TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_2 RIGHT JOIN (TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_1 RIGHT JOIN (TransactorsWithBasicTransactorsDescriptionQ RIGHT JOIN ((IssuedDocumentT INNER JOIN IssuableDocumentT ON IssuedDocumentT.Issuable_Document_ID = IssuableDocumentT.Issuable_Document_ID) INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)]) ON TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_ID = IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)]) ON TransactorsWithBasicTransactorsDescriptionQ_2.Transactor_ID = IssuedDocumentT.[Transactor_Product_ID(Main_Entity)]) ON TransactorsWithBasicTransactorsDescriptionQ_3.Transactor_ID = IssuedDocumentT.[Transactor_Product_ID(Other_Entity)]) ON DocumentsIssuersT.Document_Issuer_ID = IssuableDocumentT.Document_Issuer_ID) INNER JOIN IssuedDocumentProductDetailsT ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) ON ProductsT.Product_ID = IssuedDocumentProductDetailsT.Product_ID;
