SELECT IssuedDocumentT.Issued_Date, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, IssuedDocumentT.Document_Official_Number_Sequence, IssuedDocumentT.Issued_Document_ID, IssuedDocumentT.Issuable_Document_ID, IntentionsT.intention_ID, IntentionsT.Intention_Description, InstallationsT.[Installation Description], InstallationsT.Installation_ID, DocumentsIssuersT.Document_Issuer_Description, DocumentsIssuersT.Document_Issuer_ID, IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)], TransactionPointsT.Transaction_Point_Description, IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)], TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description AS Other_Entity_Financial_Transactor_Description, IssuedDocumentT.[Transactor_Product_ID(Main_Entity)], TransactorsWithBasicTransactorsDescriptionQ_2.Basic_Transactor_Description AS Main_Entity_Product_Transactor_Description, IssuedDocumentT.[Transactor_Product_ID(Other_Entity)], TransactorsWithBasicTransactorsDescriptionQ_1.Basic_Transactor_Description AS Other_Entity_Product_Transactor_Descritpion, IssuedDocumentT.User_Notes_For_Other_Users, IssuedDocumentT.User_Notes_For_Accounting_Department, IssuedDocumentT.Has_Been_Cancelled_By_Document_ID, IssuedDocumentT.O, IssuedDocumentT.U, IssuedDocumentT.Is_Deleted, IssuedDocumentT.Transaction_ID, IssuedDocumentT.Document_Insert_UserID, IssuedDocumentT.Document_Insert_Timestamp, UnionOfFinalDebitAndCreditForDocumentsQ.SumOfDebit, UnionOfFinalDebitAndCreditForDocumentsQ.SumOfCredit, IssuableDocumentT.Has_Product_Details, IssuableDocumentT.Has_Financial_Details, IssuableDocumentT.Affects_Inventory, IssuableDocumentT.Is_Positive, IssuableDocumentT.Used_In_Commercial_Sector, IssuableDocumentT.Used_In_Accounting_Sector
FROM InstallationsT INNER JOIN ((DocumentsIssuersT INNER JOIN ((((((IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) LEFT JOIN TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_1 ON IssuedDocumentT.[Transactor_Product_ID(Other_Entity)] = TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_ID) LEFT JOIN TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_2 ON IssuedDocumentT.[Transactor_Product_ID(Main_Entity)] = TransactorsWithBasicTransactorsDescriptionQ_2.Transactor_ID) LEFT JOIN TransactorsWithBasicTransactorsDescriptionQ ON IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] = TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID) LEFT JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) LEFT JOIN TransactionPointsT ON IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)] = TransactionPointsT.Transaction_Point_ID) ON DocumentsIssuersT.Document_Issuer_ID = IssuableDocumentT.Document_Issuer_ID) INNER JOIN UnionOfFinalDebitAndCreditForDocumentsQ ON IssuedDocumentT.Issued_Document_ID = UnionOfFinalDebitAndCreditForDocumentsQ.Issued_Document_ID) ON InstallationsT.Installation_ID = DocumentsIssuersT.Installation_ID
ORDER BY IssuedDocumentT.Issued_Date, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, IssuedDocumentT.Document_Official_Number_Sequence, IssuedDocumentT.Issued_Document_ID;
