PARAMETERS TransactionIDToRecover Long, IssuedDateToRecover DateTime, IssuableDocumentIDToRecover Long, IntentionIDToRecover Long, DocOfficialNumberToRecover Long, FinTransactionPointIDMainEntityToRecover Long, TransactorFinIDOtherEntityToRecover Long, TransactorProdIDMainEntityToRecover Long, TransactorProdIDOtherEntityToRecover Long, UserNotesForOtherUsersToRecover Text ( 255 ), UserNotesForAccountingDepartmentToRecover Text ( 255 ), HasBeenCancellerByDocumentID Long, OToRecover Bit, UToRecover Bit, IsDeletedToRecover Bit, IssuedDocumentBackupID Long;
UPDATE IssuedDocumentT SET IssuedDocumentT.Transaction_ID = [TransactionIDToRecover], IssuedDocumentT.Issued_Date = [IssuedDateToRecover], IssuedDocumentT.Issuable_Document_ID = [IssuableDocumentIDToRecover], IssuedDocumentT.Intention_ID = [IntentionIDToRecover], IssuedDocumentT.Document_Official_Number_Sequence = [DocOfficialNumberToRecover], IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)] = [FinTransactionPointIDMainEntityToRecover], IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] = [TransactorFinIDOtherEntityToRecover], IssuedDocumentT.[Transactor_Product_ID(Main_Entity)] = [TransactorProdIDMainEntityToRecover], IssuedDocumentT.[Transactor_Product_ID(Other_Entity)] = [TransactorProdIDOtherEntityToRecover], IssuedDocumentT.User_Notes_For_Other_Users = [UserNotesForOtherUsersToRecover], IssuedDocumentT.User_Notes_For_Accounting_Department = [UserNotesForAccountingDepartmentToRecover], IssuedDocumentT.Has_Been_Cancelled_By_Document_ID = [HasBeenCancellerByDocumentID], IssuedDocumentT.O = [OToRecover], IssuedDocumentT.U = [UToRecover], IssuedDocumentT.IS_Deleted = [IsDeletedToRecover], IssuedDocumentT.Issued_Document_Backup_ID = Null
WHERE (((IssuedDocumentT.Issued_Document_Backup_ID)=[IssuedDocumentBackupID]));
