SELECT IssuedDocumentFinancialDetailsT.*, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, IssuedDocumentT.Issued_Date, IssuedDocumentT.Document_Official_Number_Sequence, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description, IntentionsT.Intention_Description, DocumentsIssuersT.Document_Issuer_Description, IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription
FROM ((DocumentsIssuersT INNER JOIN IssuableDocumentT ON DocumentsIssuersT.Document_Issuer_ID = IssuableDocumentT.Document_Issuer_ID) INNER JOIN (IssuedDocumentT INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN (TransactorsWithBasicTransactorsDescriptionQ RIGHT JOIN IssuedDocumentFinancialDetailsT ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentFinancialDetailsT.Transactor_ID) ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentFinancialDetailsT.Issued_Document_ID;
