SELECT IssuableDocumentT.Issuable_Document_Description, IssuedDocumentT.[Document_Official_Number_Sequence], IssuedDocumentT.Issued_Document_ID, IssuedDocumentT.Issued_Date, IssuedDocumentT.Issued_Time, IssuableDocumentT.Issuable_Document_ID, IssuedDocumentT.Intention_ID, IntentionsT.Intention_Description, IntentionsTypeT.Intention_Type_ID, IntentionsTypeT.Intention_Type_Description, TransactionPointsT.Transaction_Point_Description, IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)], IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)], TransactorsFinancialQ.Basic_Transactor_Description AS Transactor_Financial_Other_Entity_Description, IssuedDocumentT.[Transactor_Product_ID(Main_Entity)], TransactorsProductQ.Basic_Transactor_Description AS Transactor_Product_Main_Entity_Description, IssuedDocumentT.[Transactor_Product_ID(Other_Entity)], TransactorsProductQ_1.Basic_Transactor_Description AS Transactor_Product_Other_Entity_Description, IssuedDocumentT.User_Notes_For_Other_Users, IssuedDocumentT.User_Notes_For_Accounting_Department, IssuableDocumentT.Distinction_Additive
FROM IssuableDocumentT INNER JOIN (IntentionsTypeT INNER JOIN ((((TransactionPointsT INNER JOIN (IssuedDocumentT INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) ON TransactionPointsT.Transaction_Point_ID = IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)]) LEFT JOIN TransactorsFinancialQ ON IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)] = TransactorsFinancialQ.Transactor_ID) LEFT JOIN TransactorsProductQ ON IssuedDocumentT.[Transactor_Product_ID(Main_Entity)] = TransactorsProductQ.Transactor_ID) LEFT JOIN TransactorsProductQ AS TransactorsProductQ_1 ON IssuedDocumentT.[Transactor_Product_ID(Other_Entity)] = TransactorsProductQ_1.Transactor_ID) ON IntentionsTypeT.Intention_Type_ID = IntentionsT.Intention_Type_ID) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID;
