SELECT IssuedDocumentT.*, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID AS Transactor_Fianancial_Type_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription AS Transactor_Financial_Type_Description, TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID AS Transactor_Product_Type_ID, TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_Desription AS Transactor_Product_Type_Description, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description
FROM TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_1 RIGHT JOIN (TransactorsWithBasicTransactorsDescriptionQ RIGHT JOIN IssuedDocumentT ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)]) ON TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_ID = IssuedDocumentT.[Transactor_Product_ID(Other_Entity)]
WHERE (((TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID)=4 Or (TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID)=5 Or (TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID)=39)) OR (((TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID)=4 Or (TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID)=5 Or (TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID)=39));
