SELECT IssuedDocumentProductDetailsT.*, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, IssuedDocumentT.Issued_Date, IssuedDocumentT.Document_Official_Number_Sequence, IntentionsT.Intention_Description, DocumentsIssuersT.Document_Issuer_Description, ProductsT.Product_Description, [Unit_Price_Before_Discount]-Nz([Total # Unit Discount],0) AS Unit_Price_After_Discount, [Unit_Price_After_Discount]*[Quantity] AS Total_Value_After_Discount, IssuableDocumentT.Product_Values_YESisGross_NOisNet AS Gross_Or_Net_Values, TransactionPointsT.Transaction_Point_Description, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription
FROM ((ProductsT INNER JOIN (((DocumentsIssuersT INNER JOIN IssuableDocumentT ON DocumentsIssuersT.Document_Issuer_ID = IssuableDocumentT.Document_Issuer_ID) INNER JOIN (IssuedDocumentT INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID)) ON (ProductsT.Product_ID = IssuedDocumentProductDetailsT.Product_ID) AND (ProductsT.Product_ID = IssuedDocumentProductDetailsT.Product_ID)) LEFT JOIN TransactionPointsT ON IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)] = TransactionPointsT.Transaction_Point_ID) LEFT JOIN TransactorsWithBasicTransactorsDescriptionQ ON IssuedDocumentProductDetailsT.[Transactor_Product_ID(Main_Entity)] = TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID;
