SELECT IssuedDocumentFinancialDetailsT.*, IssuableDocumentT.Issuable_Document_Description, IssuableDocumentT.Distinction_Additive, TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description, IntentionsT.Intention_Description, DocumentsIssuersT.Document_Issuer_Description, IssuedDocumentFinancialDetailsT.Issued_Document_Financial_Details_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription
FROM IntentionsT INNER JOIN (((DocumentsIssuersT INNER JOIN IssuableDocumentT ON DocumentsIssuersT.Document_Issuer_ID = IssuableDocumentT.Document_Issuer_ID) INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN (TransactorsWithBasicTransactorsDescriptionQ RIGHT JOIN IssuedDocumentFinancialDetailsT ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentFinancialDetailsT.Transactor_ID) ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentFinancialDetailsT.Issued_Document_ID) ON IntentionsT.Intention_ID = IssuedDocumentT.Intention_ID;
