SELECT IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.*, TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID AS Transactor_Financial_Type_ID, TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_Desription AS Transactor_Financial_Type_Description, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID AS Transactor_Product_Type_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription AS Transactor_Product_Type_Description
FROM TransactorsWithBasicTransactorsDescriptionQ RIGHT JOIN (TransactorsWithBasicTransactorsDescriptionQ AS TransactorsWithBasicTransactorsDescriptionQ_1 RIGHT JOIN IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ ON TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_ID = IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.[Transactor_Financial_ID(Other_Entity)]) ON TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID = IssuedDocumentWithFullDetailsAtIssuedDocumentTLevelQ.[Transactor_Product_ID(Other_Entity)]
WHERE (((TransactorsWithBasicTransactorsDescriptionQ_1.Transactor_Type_ID)=4)) OR (((TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_ID)=4));
