SELECT LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, LinkAttributeValueToEntitiesT.Entity_Type_ID, LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_ID, LinkAttributeValueToEntitiesT.Attribute_Value_String, LinkAttributeValueToEntitiesT.Attribute_Value_Number, LinkAttributeValueToEntitiesT.Attribute_Value_Boolean, LinkAttributeValueToEntitiesT.Attribute_Value_Date, LinkAttributeValueToEntitiesT.Attribute_Value_Time, LinkAttributeValueToEntitiesT.Attribute_Value_TImestamp, LinkAttributeValueToEntitiesT.Attribute_Value_Hyperlink, LinkAttributeValueToEntitiesT.Attribute_Value_Attachment
FROM LinkAttributeValueToEntitiesT
WHERE (((LinkAttributeValueToEntitiesT.Entity_Type_ID)=1));
