SELECT ProductDetailsTransformedToFinancialTransactorsRecordsQ.*, AttributesFilteredToProductDetailsFinancialTransactorsQ.Attribute_Value_Number AS Financial_Transactor_ID, AttributesFilteredToProductDetailsVatTransactorQ.Attribute_Value_Number AS Vat_Transactor_ID
FROM (ProductDetailsTransformedToFinancialTransactorsRecordsQ LEFT JOIN AttributesFilteredToProductDetailsFinancialTransactorsQ ON ProductDetailsTransformedToFinancialTransactorsRecordsQ.Issued_Document_Product_Details_ID = AttributesFilteredToProductDetailsFinancialTransactorsQ.Entity_ID) LEFT JOIN AttributesFilteredToProductDetailsVatTransactorQ ON ProductDetailsTransformedToFinancialTransactorsRecordsQ.Issued_Document_Product_Details_ID = AttributesFilteredToProductDetailsVatTransactorQ.Entity_ID;
