SELECT ProductDetailsBackUpTransformedToFinancialTransactorsRecordsQ.*, AttributesFilteredToProductDetailsFinancialTransactorsQ.Attribute_Value_Number AS Financial_Transactor_ID, AttributesFilteredToProductDetailsVatTransactorQ.Attribute_Value_Number AS Vat_Transactor_ID
FROM (ProductDetailsBackUpTransformedToFinancialTransactorsRecordsQ LEFT JOIN AttributesFilteredToProductDetailsFinancialTransactorsQ ON ProductDetailsBackUpTransformedToFinancialTransactorsRecordsQ.Issued_Document_Product_Details_ID = AttributesFilteredToProductDetailsFinancialTransactorsQ.Entity_ID) LEFT JOIN AttributesFilteredToProductDetailsVatTransactorQ ON ProductDetailsBackUpTransformedToFinancialTransactorsRecordsQ.Issued_Document_Product_Details_ID = AttributesFilteredToProductDetailsVatTransactorQ.Entity_ID;
