PARAMETERS LinkAttributeValueToEntityID_Backup_IDPar Long, Entity_Type_IDToRecoverPar Short, Entity_IDToRecoverPar Long, Attribute_IDToRecoverPar Short, Attribute_Value_StringToRecoverPar Text ( 255 ), Attribute_Value_NumberToRecoverPar IEEEDouble, Attribute_Value_BooleanToRecoverPar Bit, Attribute_Value_DateToRecoverPar DateTime, Attribute_Value_TimeToRecoverPar DateTime, Attribute_Value_TImestampToRecoverPar DateTime, NotesToRecoverPar Text ( 255 ), Is_Included_To_Suggested_AttributesToRecoverPar Bit, Is_DeletedToRecoverPar Bit;
UPDATE LinkAttributeValueToEntitiesT SET LinkAttributeValueToEntitiesT.Entity_Type_ID = [Entity_Type_IDToRecoverPar], LinkAttributeValueToEntitiesT.Entity_ID = [Entity_IDToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_ID = [Attribute_IDToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_String = [Attribute_Value_StringToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_Number = [Attribute_Value_NumberToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_Boolean = [Attribute_Value_BooleanToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_Date = [Attribute_Value_DateToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_Time = [Attribute_Value_TimeToRecoverPar], LinkAttributeValueToEntitiesT.Attribute_Value_TImestamp = [Attribute_Value_TImestampToRecoverPar], LinkAttributeValueToEntitiesT.Notes = [NotesToRecoverPar], LinkAttributeValueToEntitiesT.Is_Included_To_Suggested_Attributes = [Is_Included_To_Suggested_AttributesToRecoverPar], LinkAttributeValueToEntitiesT.Is_Deleted = [Is_DeletedToRecoverPar], LinkAttributeValueToEntitiesT.LinkAttributeValueToEntityID_Backup_ID = Null
WHERE (((LinkAttributeValueToEntitiesT.LinkAttributeValueToEntityID_Backup_ID)=[LinkAttributeValueToEntityID_Backup_IDPar]));
