PARAMETERS EntityTypeIDPar Short, EntityIDPar Long;
SELECT LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, LinkAttributeValueToEntitiesT.Entity_Type_ID, LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_ID, LinkAttributeValueToEntitiesT.Attribute_Value_String, LinkAttributeValueToEntitiesT.Attribute_Value_Number, LinkAttributeValueToEntitiesT.Attribute_Value_Boolean, LinkAttributeValueToEntitiesT.Attribute_Value_Date, LinkAttributeValueToEntitiesT.Attribute_Value_Time, LinkAttributeValueToEntitiesT.Attribute_Value_TImestamp, LinkAttributeValueToEntitiesT.Notes, LinkAttributeValueToEntitiesT.Is_Included_To_Suggested_Attributes, LinkAttributeValueToEntitiesT.Is_Deleted, LinkAttributeValueToEntitiesT.AttLinkToEntityInsert_UserID, LinkAttributeValueToEntitiesT.AttLinkToEntityInsert_Timestamp, LinkAttributeValueToEntitiesT.AttLinkToEntityEdit_UserID, LinkAttributeValueToEntitiesT.AttLinkToEntityEdit_Timestamp
FROM LinkAttributeValueToEntitiesT
WHERE (((LinkAttributeValueToEntitiesT.Entity_Type_ID)=[EntityTypeIDPar]) AND ((LinkAttributeValueToEntitiesT.Entity_ID)=[EntityIDPar]));
