SELECT IssuedDocumentProductDetailsT.*, IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)], IntentionsT.Intention_Type_ID, IssuableDocumentT.Has_Financial_Details, [Map_Document_Product_Rows_To_Company's_Financial_TransactorT].[Company"s_Financial_Transactor_ID] AS [Company's_Financial_Transactor_ID(Main Entity)], IssuedDocumentT.[Transactor_Financial_ID(Other_Entity)], Map_Document_Product_Rows_To_VAT_TransactorT.VAT_Transactor_ID, IssuableDocumentT.[Main_Entity_Debited(For_Product_Documents)], IIf([Main_Entity_Debited(For_Product_Documents)]=0,True,False) AS [Other_Entity_Debited(For_Product_Documents)]
FROM IssuableDocumentT INNER JOIN ((Map_Document_Product_Rows_To_VAT_TransactorT INNER JOIN ((IssuedDocumentT INNER JOIN IntentionsT ON IssuedDocumentT.Intention_ID = IntentionsT.Intention_ID) INNER JOIN [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ON (IntentionsT.Intention_Type_ID = [Map_Document_Product_Rows_To_Company's_Financial_TransactorT].Intention_Type_ID) AND (IssuedDocumentT.[Financial_Transaction_Point_ID(Main_Entity)] = [Map_Document_Product_Rows_To_Company's_Financial_TransactorT].Transaction_Point_ID)) ON Map_Document_Product_Rows_To_VAT_TransactorT.Intention_Type_ID = IntentionsT.Intention_Type_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (Map_Document_Product_Rows_To_VAT_TransactorT.[%VAT] = IssuedDocumentProductDetailsT.[VAT%])) ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID
WHERE (((IssuableDocumentT.Has_Financial_Details)=Yes));
