SELECT IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.Basic_Transactor_Description AS [ΠΕΡΙΓΡΑΦΗ ΣΥΝΑΛΛΑΣΣΟΜΕΝΟΥ], IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.Transactor_Financial_Type_Description AS [ΤΥΠΟΣ ΣΥΝ?ΜΕΝΟΥ], Count(IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.Issued_Document_ID) AS [ΠΛΗΘΟΣ ΠΑΡΑΣΤΑΤΙΚΩΝ], TransactorsWithDescriptionAndVatNumberQ.Vat_Number AS ΑΦΜ, IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.[Transactor_Financial_ID(Other_Entity)] AS ID
FROM IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ INNER JOIN TransactorsWithDescriptionAndVatNumberQ ON IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.[Transactor_Financial_ID(Other_Entity)] = TransactorsWithDescriptionAndVatNumberQ.Transactor_ID
GROUP BY IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.Basic_Transactor_Description, IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.Transactor_Financial_Type_Description, TransactorsWithDescriptionAndVatNumberQ.Vat_Number, IssuedDocumentsWithCliensAndSuppliersAsTransactorsQ.[Transactor_Financial_ID(Other_Entity)];
