SELECT IssuedDocumentProductDetailsBackupT.IssuedDocumentProductDetailsID_Backup_ID, IssuedDocumentProductDetailsBackupT.Issued_Document_Product_Details_ID, IssuedDocumentT.Issued_Document_ID, IssuedDocumentProductDetailsBackupT.Product_ID, Format(IIf([Main_Financial_Entity_Debited(Commercial_Sector)]=True,"",IIf([Product_Values_YESisGross_NOisNet]=True,IIf([Is_Positive]=True,([Total_Value]-[Total_Vat_#]),-([Total_Value]-[Total_Vat_#])),IIf([Is_Positive]=True,[Total_Value],-[Total_Value]))),"Currency") AS Debit, Format(IIf([Main_Financial_Entity_Debited(Commercial_Sector)]=False,"",IIf([Product_Values_YESisGross_NOisNet]=True,IIf([Is_Positive]=True,([Total_Value]-[Total_Vat_#]),-([Total_Value]-[Total_Vat_#])),IIf([Is_Positive]=True,[Total_Value],-[Total_Value]))),"Currency") AS Credit, IssuedDocumentProductDetailsBackupT.Notes, IssuedDocumentProductDetailsBackupT.Quantity, IssuedDocumentProductDetailsBackupT.Unit_Price_Before_Discount, IssuedDocumentProductDetailsBackupT.[Total # Unit Discount], IssuedDocumentProductDetailsBackupT.[VAT%], IssuedDocumentProductDetailsBackupT.Unit_Price_After_Discount, Format(IIf(IsNull([quantity]) Or IsNull([Unit_Price_Before_Discount]),0,IIf([Product_Values_YESisGross_NOisNet]=True,Round(Nz([quantity],0)*(Nz([Unit_Price_After_Discount],0)-(Nz([Unit_Price_After_Discount],0)/(1+[Vat%]))),2),Round(Nz([Unit_Price_After_Discount],0)*[VAT%]*Nz([quantity],0),2))),"Currency") AS [Total_Vat_#], Format(IIf([Product_Values_YESisGross_NOisNet]=True,Round(([quantity]*[Unit_Price_After_Discount]),2),Round(([quantity]*[Unit_Price_After_Discount])+[Total_Vat_#],2)),"Currency") AS Total_Gross_Value, Format(Round([Quantity]*[Unit_Price_After_Discount],2),"Currency") AS Total_Value, IssuableDocumentT.Product_Values_YESisGross_NOisNet, IssuableDocumentT.Is_Positive, IssuableDocumentT.[Main_Financial_Entity_Debited(Commercial_Sector)]
FROM (IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN IssuedDocumentProductDetailsBackupT ON IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsBackupT.Issued_Document_ID;
