SELECT IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, IssuedDocumentProductDetailsT.Issued_Document_ID, IssuedDocumentProductDetailsT.Product_ID, IssuedDocumentProductDetailsT.Quantity, IssuedDocumentProductDetailsT.Unit_Price_Before_Discount, IssuedDocumentProductDetailsT.[Total # Unit Discount], IssuedDocumentProductDetailsT.[VAT%], IIf([Product_Values_YESisGross_NOisNet]=False,Round([Net_Total_Value]*[VAT%],2),Round((Round([Unit_Price_Before_Discount]*[Quantity],2)-Round(Nz([Total # Unit Discount],0)*[quantity],2))/(1+[VAT%]),2)) AS [VAT#], IssuableDocumentT.Product_Values_YESisGross_NOisNet, IIf([Product_Values_YESisGross_NOisNet]=False,[Unit_Price_Before_Discount],Round([Unit_Price_Before_Discount]/(1+[VAT%]),2)) AS Net_Unit_Value_Before_Discount, IIf([Product_Values_YESisGross_NOisNet]=True,[Unit_Price_Before_Discount],Round([Unit_Price_Before_Discount]*(1+[VAT%]),2)) AS Gross_Unit_Value_Before_Discount, Round(([Net_Total_Value]/[Quantity]),2) AS Neτ_Unit_Value_After_Discount, Round(([Gross_Total_Value]/[Quantity]),2) AS Gross_Unit_Value_After_Discount, Round([Unit_Price_Before_Discount]*[Quantity],2)-Round(Nz([Total # Unit Discount],0)*[quantity],2) AS Net_Total_Value, IIf([Product_Values_YESisGross_NOisNet]=True,(Round([Unit_Price_Before_Discount]*[Quantity],2)-Round(Nz([Total # Unit Discount],0)*[quantity],2)),(Round([Unit_Price_Before_Discount]*[Quantity],2)-Round(Nz([Total # Unit Discount],0)*[quantity],2))+[VAT#]) AS Gross_Total_Value
FROM (IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID);
