SELECT IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, IssuedDocumentT.Issued_Document_ID, IssuedDocumentProductDetailsT.Product_ID, Format(IIf([Main_Financial_Entity_Debited(Commercial_Sector)]=True,"",IIf([Product_Values_YESisGross_NOisNet]=True,IIf([Is_Positive]=True,([Total_Value]-[Total_Vat_#]),-([Total_Value]-[Total_Vat_#])),IIf([Is_Positive]=True,[Total_Value],-[Total_Value]))),"Currency") AS Debit, Format(IIf([Main_Financial_Entity_Debited(Commercial_Sector)]=False,"",IIf([Product_Values_YESisGross_NOisNet]=True,IIf([Is_Positive]=True,([Total_Value]-[Total_Vat_#]),-([Total_Value]-[Total_Vat_#])),IIf([Is_Positive]=True,[Total_Value],-[Total_Value]))),"Currency") AS Credit, IssuedDocumentProductDetailsT.Notes, IssuedDocumentProductDetailsT.Quantity, IssuedDocumentProductDetailsT.Unit_Price_Before_Discount, IssuedDocumentProductDetailsT.[Total # Unit Discount], IssuedDocumentProductDetailsT.[VAT%], IssuedDocumentProductDetailsT.Unit_Price_After_Discount, Format(IIf(IsNull([quantity]) Or IsNull([Unit_Price_Before_Discount]),0,IIf([Product_Values_YESisGross_NOisNet]=True,Round(Nz([quantity],0)*(Nz([Unit_Price_After_Discount],0)-(Nz([Unit_Price_After_Discount],0)/(1+[IssuedDocumentProductDetailsT].[Vat%]))),2),Round(Nz([Unit_Price_After_Discount],0)*[IssuedDocumentProductDetailsT].[VAT%]*Nz([quantity],0),2))),"Currency") AS [Total_Vat_#], Format(IIf([Product_Values_YESisGross_NOisNet]=True,Round(([quantity]*[Unit_Price_After_Discount]),2),Round(([quantity]*[Unit_Price_After_Discount])+[Total_Vat_#],2)),"Currency") AS Total_Gross_Value, Format(Round([Quantity]*[Unit_Price_After_Discount],2),"Currency") AS Total_Value, IssuableDocumentT.Product_Values_YESisGross_NOisNet, IssuableDocumentT.Is_Positive, IssuableDocumentT.[Main_Financial_Entity_Debited(Commercial_Sector)], IssuedDocumentProductDetailsT.Unit_Price_Before_Discount
FROM (TransactionsT INNER JOIN (IssuableDocumentT INNER JOIN IssuedDocumentT ON IssuableDocumentT.Issuable_Document_ID = IssuedDocumentT.Issuable_Document_ID) ON TransactionsT.Transaction_ID = IssuedDocumentT.Transaction_ID) INNER JOIN IssuedDocumentProductDetailsT ON (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID) AND (IssuedDocumentT.Issued_Document_ID = IssuedDocumentProductDetailsT.Issued_Document_ID)
WHERE (((TransactionsT.Is_Deleted)=No) AND ((IssuedDocumentT.IS_Deleted)=No) AND ((IssuedDocumentProductDetailsT.Is_Deleted)=No) AND ((IssuedDocumentT.Has_Been_Cancelled_By_Document_ID) Is Null));
