SELECT ProductMetaDataT.Product_ID, ProductsΤ.[Marketing Label], ProductMetaDataT.[Description of product ingredients for efood]
FROM ProductsΤ INNER JOIN ProductMetaDataT ON ProductsΤ.Product_ID = ProductMetaDataT.Product_ID;
