SELECT ProductsT.Product_ID, ProductsT.Product_Description, ProductsT.Base_Product_ID, ProductsT.[Marketing Label], ProductsT.SKU, ProductsT.Barcode_official, ProductsT.Product_Type_ID, ProductTypeT.Type_Description, ProductsT.Product_Category_ID, ProductCategoryT.Category_Description, ProductsT.Product_Subcategory_ID, ProductSubcategoryT.Subcategory_Description, ProductsT.Barcode_for_internal_use, ProductsT.Active, [Product_ID] & " " & [Base_Product_ID] & " " & [SKU] & " " & [Marketing Label] & " " & [Type_Description] & " " & [Category_Description] & " " & [Subcategory_Description] & " " & [Barcode_for_internal_use] & " " & [Barcode_official] AS TextToSearch, MeasureUnitsT.Measure_Unit_Abbreviation
FROM (ProductTypeT RIGHT JOIN (ProductSubcategoryT RIGHT JOIN (ProductCategoryT RIGHT JOIN ProductsT ON ProductCategoryT.Category_ID = ProductsT.Product_Category_ID) ON ProductSubcategoryT.Subcategory_ID = ProductsT.Product_Subcategory_ID) ON ProductTypeT.Type_ID = ProductsT.Product_Type_ID) INNER JOIN MeasureUnitsT ON ProductsT.[Measure_Unit_For_Purchases/Sales_ID] = MeasureUnitsT.Measure_Unit_ID;
