SELECT ProductsΤ.Product_Description, ProductToSupplierLinkΤ.Product_ID, TransactorsBasicT.Basic_Transactor_Description, SuppliersQ.Transactor_ID, TransactorsBasicT.[In Use]
FROM ProductsΤ INNER JOIN ((SuppliersQ INNER JOIN ProductToSupplierLinkΤ ON SuppliersQ.Transactor_ID = ProductToSupplierLinkΤ.Supplier_ID) INNER JOIN TransactorsBasicT ON SuppliersQ.Basic_Transactor_ID = TransactorsBasicT.Basic_Transactor_ID) ON ProductsΤ.Product_ID = ProductToSupplierLinkΤ.Product_ID;
