SELECT ProductsΤ.*, ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_Description, ProductTypeΤ.Type_Description, ProductCategoryΤ.Category_Description, SalesCategoryT.Sales_Category_Description, MeasureUnitsT.Measure_Unit_Abbreviation AS Measure_Unit_Abbreviation_for_Content_In_Package, MeasureUnitsT_1.Measure_Unit_Abbreviation AS Measure_Unit_Abbreviation_for_Purchases_Sales
FROM SalesCategoryT RIGHT JOIN (ProductUseIntentionForFranchiseeΤ RIGHT JOIN (ProductTypeΤ RIGHT JOIN (ProductCategoryΤ RIGHT JOIN (MeasureUnitsT RIGHT JOIN (MeasureUnitsT AS MeasureUnitsT_1 RIGHT JOIN ProductsΤ ON MeasureUnitsT_1.Measure_Unit_ID = ProductsΤ.[Measure_Unit_For_Purchases/Sales_ID]) ON MeasureUnitsT.Measure_Unit_ID = ProductsΤ.Measure_Unit_Of_Product_Content_In_Package_ID) ON ProductCategoryΤ.Category_ID = ProductsΤ.Product_Category_ID) ON ProductTypeΤ.Type_ID = ProductsΤ.Product_Type_ID) ON ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_ID = ProductsΤ.Product_Use_Intention_For_Franchisee_ID) ON SalesCategoryT.Sales_Category_ID = ProductsΤ.Sales_Category_ID;
