SELECT ProductsΤ.Product_ID, ProductsΤ.Product_Description, ProductsΤ.Produced_From_Recipe, ProductToSupplierLinkΤ.Supplier_ID
FROM ProductsΤ LEFT JOIN ProductToSupplierLinkΤ ON ProductsΤ.Product_ID = ProductToSupplierLinkΤ.Product_ID
WHERE (((ProductsΤ.Produced_From_Recipe)=False) AND ((ProductToSupplierLinkΤ.Supplier_ID) Is Null));
