SELECT RecipesUniqueProducedProductsQ.Sale_Product_ID, ProductsΤ.Product_Description, ProductsΤ.Produced_From_Recipe
FROM RecipesUniqueProducedProductsQ LEFT JOIN ProductsΤ ON RecipesUniqueProducedProductsQ.Sale_Product_ID = ProductsΤ.Product_ID
WHERE (((ProductsΤ.Produced_From_Recipe)=False));
