SELECT [ProductsT].Product_ID, [ProductsT].Product_Description, ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_ID
FROM ProductUseIntentionForFranchiseeΤ RIGHT JOIN ProductsT ON ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_ID=[ProductsT].Product_Use_Intention_For_Franchisee_ID
WHERE (((ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_ID) Is Null Or (ProductUseIntentionForFranchiseeΤ.Product_Use_Intention_For_Franchisee_ID)>1))
ORDER BY [ProductsT].Product_Description;
