SELECT TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_Description, TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID, TransactorsWithBasicTransactorsDescriptionQ.Transactor_Type_Desription, TransactorContactTypeT.Transactor_Contact_Type_ID, TransactorContactTypeT.Transactor_Contact_Type_Description, TransactorContactDetailsT.Transactor_Contact_Decription, [Street_Name] & " " & [Street_Number] & " " & [Postal_Code] & " " & [City_Description] AS Address
FROM ((TransactorContactDetailsT RIGHT JOIN (TransactorAddressDetailsT RIGHT JOIN TransactorsWithBasicTransactorsDescriptionQ ON TransactorAddressDetailsT.Transactor_ID = TransactorsWithBasicTransactorsDescriptionQ.Transactor_ID) ON TransactorContactDetailsT.Basic_Tsansactor_ID_FK = TransactorsWithBasicTransactorsDescriptionQ.Basic_Transactor_ID) LEFT JOIN TransactorContactTypeT ON TransactorContactDetailsT.Transactor_Contact_Type_ID = TransactorContactTypeT.Transactor_Contact_Type_ID) LEFT JOIN CitiesT ON TransactorAddressDetailsT.City_ID = CitiesT.City_ID;
