SELECT LinkAttrValuesToEntityWithSubAttrPivotQ.Link_Attribute_Value_To_Entity_ID, LinkAttrValuesToEntityWithSubAttrPivotQ.Entity_Type_ID, LinkAttrValuesToEntityWithSubAttrPivotQ.Entity_ID, LinkAttrValuesToEntityWithSubAttrPivotQ.Attribute_ID, LinkAttrValuesToEntityWithSubAttrPivotQ.Attribute_Value_String, LinkAttrValuesToEntityWithSubAttrPivotQ.Attribute_Value_Number
FROM LinkAttrValuesToEntityWithSubAttrPivotQ
WHERE (((LinkAttrValuesToEntityWithSubAttrPivotQ.Attribute_ID)=318))
ORDER BY LinkAttrValuesToEntityWithSubAttrPivotQ.Attribute_Value_String;
