SELECT IssuedDocumentProductDetailsT.Quantity AS NewQuantity, IssuedDocumentProductDetailsT.Unit_Price_After_Discount AS NewUnitPriceAD, IssuedDocumentProductDetailsBackupT.Quantity AS OldQuantity, IssuedDocumentProductDetailsBackupT.Unit_Price_After_Discount AS OldUnitPriceAD, IssuedDocumentProductDetailsT.Is_Deleted AS NewIsDeleted, IssuedDocumentProductDetailsBackupT.Is_Deleted AS OldIsDeleted, IssuedDocumentProductDetailsT.Product_ID AS NewProductID, IssuedDocumentProductDetailsBackupT.Product_ID AS OldProductID, IIf([NewIsDeleted],-[OldDebit],[NewDebit]-Nz([OldDebit],0)) AS DebitToAdd, IIf([NewIsDeleted],-[OldCredit],[NewCredit]-Nz([OldCredit],0)) AS CreditToAdd, IssuedDocumentProductDetailsT.IssuedDocumentProductDetails_Backup_ID AS FKBackupID, IssuedDocumentProductDetailsBackupT.IssuedDocumentProductDetailsID_Backup_ID AS BackupID
FROM IssuedDocumentProductDetailsT INNER JOIN IssuedDocumentProductDetailsBackupT ON IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID = IssuedDocumentProductDetailsBackupT.Issued_Document_Product_Details_ID;
