SELECT DISTINCT IssuedDocumentFinancialDetailsFinalT.Transactor_ID
FROM IssuedDocumentFinancialDetailsFinalT INNER JOIN (SELECT TOP 10 IssuedDocumentFinancialDetailsFinalT.Transactor_ID, IssuedDocumentFinancialDetailsFinalT.Issued_Document_ID FROM IssuedDocumentFinalT INNER JOIN IssuedDocumentFinancialDetailsFinalT ON IssuedDocumentFinalT.Issued_Document_ID = IssuedDocumentFinancialDetailsFinalT.Issued_Document_ID WHERE IssuedDocumentFinancialDetailsFinalT.Transactor_ID=236 ORDER BY IssuedDocumentFinancialDetailsFinalT.Issued_Document_ID DESC)  AS HELPQ1 ON IssuedDocumentFinancialDetailsFinalT.Issued_Document_ID = HELPQ1.Issued_Document_ID;
