SELECT ProductDetailsQ.Issued_Document_Product_Details_ID, ProductDetailsQ.Transactor_Financial_ID
FROM (SELECT DISTINCTROW IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, LinkProductsToCompanyFinancialTransactorsT.Transactor_Financial_ID, IntentionsT.Intention_ID FROM IntentionsT INNER JOIN (IssuedDocumentProductDetailsT INNER JOIN LinkProductsToCompanyFinancialTransactorsT ON IssuedDocumentProductDetailsT.Product_ID = LinkProductsToCompanyFinancialTransactorsT.Product_ID) ON IntentionsT.Intention_Type_ID = LinkProductsToCompanyFinancialTransactorsT.Intention_Type_ID WHERE IssuedDocumentProductDetailsT.Is_Deleted = No AND IntentionsT.Intention_ID = 5 AND IssuedDocumentProductDetailsT.Issued_Document_ID = 1411)  AS ProductDetailsQ LEFT JOIN LinkAttributeValueToEntitiesT ON ProductDetailsQ.Issued_Document_Product_Details_ID = LinkAttributeValueToEntitiesT.Entity_ID
WHERE (((LinkAttributeValueToEntitiesT.Entity_Type_ID)=5) AND ((LinkAttributeValueToEntitiesT.Attribute_ID)=352));
