SELECT LinkAttributesToProductsQ.*
FROM HelpTableForUseAttributeValuesAsFiltersT LEFT JOIN LinkAttributesToProductsQ ON HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_String = LinkAttributesToProductsQ.Attribute_Value_String
WHERE ((Not (LinkAttributesToProductsQ.Attribute_Value_String) Is Null))

union

SELECT LinkAttributesToProductsQ.*
FROM HelpTableForUseAttributeValuesAsFiltersT LEFT JOIN LinkAttributesToProductsQ ON HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Number = LinkAttributesToProductsQ.Attribute_Value_Number
WHERE ((Not (LinkAttributesToProductsQ.Attribute_Value_number) Is Null))

UNION SELECT LinkAttributesToProductsQ.*
FROM HelpTableForUseAttributeValuesAsFiltersT LEFT JOIN LinkAttributesToProductsQ ON HelpTableForUseAttributeValuesAsFiltersT.Attribute_Value_Boolean = LinkAttributesToProductsQ.Attribute_Value_Boolean
WHERE ((Not (LinkAttributesToProductsQ.Attribute_Value_Boolean) Is Null));
