SELECT IssuedDocumentFinancialDetailsT.Debit AS NewDebit, IssuedDocumentFinancialDetailsT.Credit AS NewCredit, IssuedDocumentFinancialDetailsBackUpT.Debit AS OldDebit, IssuedDocumentFinancialDetailsBackUpT.Credit AS OldCredit, IssuedDocumentFinancialDetailsT.Is_Deleted AS NewIsDeleted, IssuedDocumentFinancialDetailsBackUpT.Is_Deleted AS OldIsDeleted, IssuedDocumentFinancialDetailsT.Transactor_ID, IssuedDocumentFinancialDetailsBackUpT.Transactor_ID, IIf([NewIsDeleted],-[OldDebit],[NewDebit]-Nz([OldDebit],0)) AS DebitToAdd, IIf([NewIsDeleted],-[OldCredit],[NewCredit]-Nz([OldCredit],0)) AS CreditToAdd
FROM IssuedDocumentFinancialDetailsT LEFT JOIN IssuedDocumentFinancialDetailsBackUpT ON IssuedDocumentFinancialDetailsT.IssuedDocumentFinancialDetails_Backup_ID = IssuedDocumentFinancialDetailsBackUpT.IssuedDocumentFinancialDetails_Backup_ID
WHERE (((IssuedDocumentFinancialDetailsBackUpT.Is_Deleted)=False Or (IssuedDocumentFinancialDetailsBackUpT.Is_Deleted) Is Null) AND ((IssuedDocumentFinancialDetailsT.Issued_Document_ID)=1596));
