SELECT DISTINCTROW ProductDetailsQ.LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, ProductDetailsQ.Issued_Document_Product_Details_ID AS Entity_ID, ProductDetailsQ.LinkAttributeValueToEntitiesT.Attribute_ID AS Attribute_ID, ProductDetailsQ.LinkAttributeValueToEntitiesT.Attribute_Value_Number AS Attribute_Value_Number
FROM (SELECT IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID, LinkAttributeValueToEntitiesT.Entity_ID, LinkAttributeValueToEntitiesT.Attribute_ID, LinkAttributeValueToEntitiesT.Attribute_Value_Number, LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, IssuedDocumentProductDetailsT.Issued_Document_ID FROM IssuedDocumentProductDetailsT LEFT JOIN LinkAttributeValueToEntitiesT ON IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID = LinkAttributeValueToEntitiesT.Entity_ID WHERE (((LinkAttributeValueToEntitiesT.Attribute_ID)=352 Or (LinkAttributeValueToEntitiesT.Attribute_ID) Is Null) AND ((IssuedDocumentProductDetailsT.Issued_Document_ID)=1584)))  AS ProductDetailsQ;
