SELECT LinkProductDetailsToFinancialTransactorsQ.Issued_Document_Product_Details_ID
FROM LinkProductDetailsToFinancialTransactorsQ LEFT JOIN LinkBackedUpProductDetailsToFinancialTransactorsQ ON LinkProductDetailsToFinancialTransactorsQ.Financial_Transactor_ID = LinkBackedUpProductDetailsToFinancialTransactorsQ.IssuedDocumentProductDetailsID_Backup_ID;
