SELECT DISTINCTROW LinkAttributeValueToEntitiesT.Link_Attribute_Value_To_Entity_ID, IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID AS Entity_ID, LinkAttributeValueToEntitiesT.Attribute_ID, LinkAttributeValueToEntitiesT.Attribute_Value_Number
FROM ((IssuedDocumentProductDetailsT LEFT JOIN LinkAttributeValueToEntitiesT ON IssuedDocumentProductDetailsT.Issued_Document_Product_Details_ID = LinkAttributeValueToEntitiesT.Entity_ID) INNER JOIN LinkProductsToCompanyFinancialTransactorsT ON (IssuedDocumentProductDetailsT.Accounting_Behavior_ID = LinkProductsToCompanyFinancialTransactorsT.Accounting_Behavior_ID) AND (IssuedDocumentProductDetailsT.Product_ID = LinkProductsToCompanyFinancialTransactorsT.Product_ID)) INNER JOIN [LinkFinTransactorsToVatTransactorsWithVat%Q] ON (LinkProductsToCompanyFinancialTransactorsT.Transactor_Financial_ID = [LinkFinTransactorsToVatTransactorsWithVat%Q].Financial_Transactor_ID) AND (IssuedDocumentProductDetailsT.[VAT%] = [LinkFinTransactorsToVatTransactorsWithVat%Q].[Vat%])
WHERE (((LinkAttributeValueToEntitiesT.Attribute_ID)=352 Or (LinkAttributeValueToEntitiesT.Attribute_ID) Is Null) AND ((IssuedDocumentProductDetailsT.Is_Deleted)=False) AND ((IssuedDocumentProductDetailsT.Issued_Document_ID)=1584) AND ((LinkAttributeValueToEntitiesT.Entity_Type_ID)=5 Or (LinkAttributeValueToEntitiesT.Entity_Type_ID) Is Null));
