SELECT RecalculateInventoryBalancePerProductTransactorFromRecordsQ.Product_ID, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.Transactor_ID, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.SumOfDebit, RecalculateInventoryBalancePerProductTransactorFromRecordsQ.SumOfCredit INTO RecalculatedInventoryBalancePerProductTransactorFromRecordsTempT
FROM RecalculateInventoryBalancePerProductTransactorFromRecordsQ;
