SELECT RecalculateFinancialBalancePerFinancialTransactorFromRecordsQ.Transactor_ID, RecalculateFinancialBalancePerFinancialTransactorFromRecordsQ.SumOfDebit, RecalculateFinancialBalancePerFinancialTransactorFromRecordsQ.SumOfCredit INTO RecalculatedFinancialBalancePerFinTransactorFromRecordsTempT
FROM RecalculateFinancialBalancePerFinancialTransactorFromRecordsQ;
