SELECT UnionOfInventoryBalanceDebitAndCreditQueriesQ.Product_ID, UnionOfInventoryBalanceDebitAndCreditQueriesQ.Transactor_ID, Sum(UnionOfInventoryBalanceDebitAndCreditQueriesQ.Debit) AS SumOfDebit, Sum(UnionOfInventoryBalanceDebitAndCreditQueriesQ.Credit) AS SumOfCredit
FROM UnionOfInventoryBalanceDebitAndCreditQueriesQ
GROUP BY UnionOfInventoryBalanceDebitAndCreditQueriesQ.Product_ID, UnionOfInventoryBalanceDebitAndCreditQueriesQ.Transactor_ID;
