SELECT RecipesExecutionMethodWithProductsLink.RecipesExecutionMethodID, ProductsΤ.Product_Description, ReipesExecutionMethodΤ.RecipeExecutionMethodDescription, RecipesExecutionMethodWithProductsLink.ProductID, RecipesExecutionMethodWithProductsLink.ID
FROM ReipesExecutionMethodΤ INNER JOIN (ProductsΤ INNER JOIN RecipesExecutionMethodWithProductsLink ON ProductsΤ.Product_ID = RecipesExecutionMethodWithProductsLink.ProductID) ON ReipesExecutionMethodΤ.RecipesExecutionMethodID = RecipesExecutionMethodWithProductsLink.RecipesExecutionMethodID
ORDER BY ProductsΤ.Product_Description;
