SELECT RecipesΤ.*, ProductsΤ.Product_Description, ProductsΤ_1.Product_Description
FROM ProductsΤ INNER JOIN (ProductsΤ AS ProductsΤ_1 INNER JOIN RecipesΤ ON ProductsΤ_1.Product_ID = RecipesΤ.Consumable_Product_ID) ON ProductsΤ.Product_ID = RecipesΤ.Sale_Product_ID;
