SELECT AttributeValueToProductT.Product_ID
FROM ProductsΤ INNER JOIN AttributeValueToProductT ON ProductsΤ.Product_ID = AttributeValueToProductT.Product_ID
WHERE (((ProductsΤ.Product_Description) Like "*bio*") AND ((AttributeValueToProductT.Attribute_Value_ID)=91));
