SELECT Sum(UnionOfInventoryBalanceDebitAndCreditQueriesQ.Debit) AS SumOfDebit, Sum(UnionOfInventoryBalanceDebitAndCreditQueriesQ.Credit) AS SumOfCredit
FROM UnionOfInventoryBalanceDebitAndCreditQueriesQ;
