SELECT TransactorsFinancialNonCompanyEntitiesQ.*, HelpTableForTransactorSearchByContactAndAddressDetailsT.Address_String, HelpTableForTransactorSearchByContactAndAddressDetailsT.Contact_String, TransactorsWithVatNumberQ.Vat_Number
FROM (TransactorsFinancialNonCompanyEntitiesQ LEFT JOIN TransactorsWithVatNumberQ ON TransactorsFinancialNonCompanyEntitiesQ.ID = TransactorsWithVatNumberQ.Transactor_ID) LEFT JOIN HelpTableForTransactorSearchByContactAndAddressDetailsT ON TransactorsFinancialNonCompanyEntitiesQ.ID = HelpTableForTransactorSearchByContactAndAddressDetailsT.Transactor_ID;
