SELECT TransactorsProductNonCompanyEntitiesQ.*, HelpTableForTransactorSearchByContactAndAddressDetailsT.Address_String, HelpTableForTransactorSearchByContactAndAddressDetailsT.Contact_String, TransactorsWithVatNumberQ.Vat_Number
FROM (TransactorsProductNonCompanyEntitiesQ LEFT JOIN HelpTableForTransactorSearchByContactAndAddressDetailsT ON TransactorsProductNonCompanyEntitiesQ.ID = HelpTableForTransactorSearchByContactAndAddressDetailsT.Transactor_ID) LEFT JOIN TransactorsWithVatNumberQ ON TransactorsProductNonCompanyEntitiesQ.ID = TransactorsWithVatNumberQ.Transactor_ID;
