CREATE INDEX [Event_ID] ON [ActionsT] ([Action_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Event_Type_ID] ON [ActionsT] ([Action_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_ID] ON [ActionsT] ([Protocol_ID]); /* IgnoreNulls=False, Required=False, Unique=False */