CREATE INDEX [Attribute_ID] ON [AttributeValuesListsT] ([Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUENESS DATE] ON [AttributeValuesListsT] ([Attribute_ID], [Attribute_Value_Date]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS STRING] ON [AttributeValuesListsT] ([Attribute_ID], [Attribute_Value_String]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS TIME] ON [AttributeValuesListsT] ([Attribute_ID], [Attribute_Value_Time]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS TIMESTAMP] ON [AttributeValuesListsT] ([Attribute_ID], [Attribute_Value_TImestamp]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS VIEW SWQUENCE NUMBER] ON [AttributeValuesListsT] ([Attribute_ID], [View_Sequence_Number]); /* IgnoreNulls=False, Required=False, Unique=True */