CREATE UNIQUE INDEX [Attribute_Description] ON [AttributesT] ([Attribute_Description]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Attribute_ID] ON [AttributesT] ([Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [EntityTypeID_For_RelevantTablePKField] ON [AttributesT] ([EntityTypeID_For_RelevantTablePKField]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [System_Attribute] ON [AttributesT] ([System_Attribute]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [TypeOfEntityType_ID] ON [AttributesT] ([TypeOfEntityType_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUNESS] ON [AttributesT] ([Attribute_Description], [Data_type]); /* IgnoreNulls=False, Required=False, Unique=True */