CREATE INDEX [City_ID] ON [CitiesT] ([City_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [County_ID] ON [CitiesT] ([County_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqueness] ON [CitiesT] ([County_ID], [City_Description]); /* IgnoreNulls=False, Required=False, Unique=True */