CREATE INDEX [County_ID] ON [CountiesT] ([County_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Province_ID] ON [CountiesT] ([Province_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqueness] ON [CountiesT] ([County_Description], [Province_ID]); /* IgnoreNulls=False, Required=False, Unique=True */