CREATE INDEX [customer_country_id] ON [CustomersFromMitsosDatabaseT] ([customer_country_id]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [customer_gender_id] ON [CustomersFromMitsosDatabaseT] ([customer_gender_id]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [customer_id] ON [CustomersFromMitsosDatabaseT] ([customer_id]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [customer_postal_code] ON [CustomersFromMitsosDatabaseT] ([customer_postal_code]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [customer_type_id] ON [CustomersFromMitsosDatabaseT] ([customer_type_id]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [ref_installation_id] ON [CustomersFromMitsosDatabaseT] ([ref_installation_id]); /* IgnoreNulls=False, Required=False, Unique=False */