CREATE INDEX [Dicount_Or_Offer_Type_ID] ON [DiscountOrOfferT] ([Discount_Or_Offer_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Discount_ID] ON [DiscountOrOfferT] ([Discount_Or_Offer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */