CREATE INDEX [DiscountOnWholeDocument_ID] ON [DiscountLogsDetailsBackupT] ([Discount_Logs_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Discounts_Log_ID] ON [DiscountLogsDetailsBackupT] ([Discounts_Logs_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [DiscountsLogsDetailsID_backup_ID] ON [DiscountLogsDetailsBackupT] ([DiscountsLogsDetailsID_backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_ID] ON [DiscountLogsDetailsBackupT] ([Product_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */