CREATE INDEX [Discount_OR_Offer_ID] ON [DiscountLogsBackupT] ([Discount_OR_Offer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [DiscountLogsID_Backup_ID] ON [DiscountLogsBackupT] ([DiscountLogsID_Backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Discounts_On_Whole_Document_ID] ON [DiscountLogsBackupT] ([Discount_Logs_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_ID] ON [DiscountLogsBackupT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */