CREATE INDEX [DiscountOnWholeDocument_ID] ON [DiscountLogsDetailsT] ([Discount_Logs_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Discounts_Log_ID] ON [DiscountLogsDetailsT] ([Discounts_Logs_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_ID] ON [DiscountLogsDetailsT] ([Product_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */