CREATE INDEX [Discount_OR_Offer_ID] ON [DiscountLogsT] ([Discount_OR_Offer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Discounts_On_Whole_Document_ID] ON [DiscountLogsT] ([Discount_Logs_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_ID] ON [DiscountLogsT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */