CREATE INDEX [Document_Issuer_ID] ON [DocumentsIssuersT] ([Document_Issuer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_Issuer_ID1] ON [DocumentsIssuersT] ([Document_Issuer_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [In_Use] ON [DocumentsIssuersT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Installation_ID] ON [DocumentsIssuersT] ([Installation_ID]); /* IgnoreNulls=False, Required=False, Unique=False */