CREATE INDEX [Company_ID] ON [DutiesT] ([Company_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Duties_ID] ON [DutiesT] ([Duty_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Duty_Type_ID] ON [DutiesT] ([Duty_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */