CREATE INDEX [Error_Log_ID] ON [ErrorLogingT] ([Error_Log_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Error_Time] ON [ErrorLogingT] ([Error_Time]); /* IgnoreNulls=False, Required=False, Unique=False */