CREATE INDEX [Document_ID] ON [FinancialBalanceErrorsT] ([Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Balance_Error_ID] ON [FinancialBalanceErrorsT] ([Financial_Balance_Error_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Details_ID] ON [FinancialBalanceErrorsT] ([Financial_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Details_ID] ON [FinancialBalanceErrorsT] ([Product_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_ID] ON [FinancialBalanceErrorsT] ([Transaction_ID]); /* IgnoreNulls=False, Required=False, Unique=False */