CREATE UNIQUE INDEX [Form_Description] ON [FormsT] ([Form_Description]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [View_ID] ON [FormsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */