CREATE INDEX [Attribute_ID] ON [HelpTableForUseAttributeValuesAsFiltersT] ([Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Help_Table_For_Use_Attributes_As_Filters_ID] ON [HelpTableForUseAttributeValuesAsFiltersT] ([Help_Table_For_Use_Attribute_Values_As_Filters_ID]); /* IgnoreNulls=False, Required=False, Unique=False */