CREATE INDEX [Basic_Transactor_ID] ON [HelpTableForTransactorSearchByContactAndAddressDetailsT] ([Basic_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [Link_Transactor_To_Address_And_Contact_Strings_ID] ON [HelpTableForTransactorSearchByContactAndAddressDetailsT] ([Link_Transactor_To_Address_And_Contact_Strings_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [Transactor_ID] ON [HelpTableForTransactorSearchByContactAndAddressDetailsT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=True */