CREATE INDEX [Country_ID] ON [InstallationsT] ([Country_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [In_Use] ON [InstallationsT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [VAT_Status_ID] ON [InstallationsT] ([VAT_Status_ID]); /* IgnoreNulls=False, Required=False, Unique=False */