CREATE INDEX [Affects_Inventory] ON [IntentionsT] ([Affects_Inventory]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Financial_Details] ON [IntentionsT] ([Has_Financial_Details]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Product_Details] ON [IntentionsT] ([Has_Product_Details]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [In_Use] ON [IntentionsT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_Type_ID] ON [IntentionsT] ([Intention_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Need_Product_Unit_Price] ON [IntentionsT] ([Affects_Financial]); /* IgnoreNulls=False, Required=False, Unique=False */