CREATE INDEX [Document_ID] ON [InventoryBalanceErrorsT] ([Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Balance_Error_ID] ON [InventoryBalanceErrorsT] ([Inventory_Balance_Error_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Details_ID] ON [InventoryBalanceErrorsT] ([Product_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_ID] ON [InventoryBalanceErrorsT] ([Transaction_ID]); /* IgnoreNulls=False, Required=False, Unique=False */