CREATE INDEX [Issued_Document_ID] ON [IssuedDocumentBackupT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [IssuedDocumentID_Backup_ID] ON [IssuedDocumentBackupT] ([IssuedDocumentID_Backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */