CREATE INDEX [Accounting_Behavior_ID] ON [IssuedDocumentProductDetailsBackupT] ([Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Trqansactor_ID] ON [IssuedDocumentProductDetailsBackupT] ([Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_Product_Details_ID] ON [IssuedDocumentProductDetailsBackupT] ([Issued_Document_Product_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [IssuedDocumentProductDetailsID_Backup_ID] ON [IssuedDocumentProductDetailsBackupT] ([IssuedDocumentProductDetailsID_Backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID(Other_Entity)] ON [IssuedDocumentProductDetailsBackupT] ([Transactor_Product_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [VAT_ID] ON [IssuedDocumentProductDetailsBackupT] ([VAT_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Vat_Transactor_ID] ON [IssuedDocumentProductDetailsBackupT] ([Vat_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */