CREATE INDEX [Financial_Transaction_Point_ID(Other_Entity)] ON [IssuedDocumentT_DeletedRecords] ([Financial_Transaction_Point_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Been_Cancelled_By_Document_ID] ON [IssuedDocumentT_DeletedRecords] ([Has_Been_Cancelled_By_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_ID] ON [IssuedDocumentT_DeletedRecords] ([Transaction_ID]); /* IgnoreNulls=False, Required=False, Unique=False */