CREATE INDEX [Accounting_Behavior_ID] ON [IssuedDocumentProductDetailsT] ([Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Deleted] ON [IssuedDocumentProductDetailsT] ([Is_Deleted]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_Product_Details_Insert_User_ID] ON [IssuedDocumentProductDetailsT] ([Document_Product_Details_Insert_User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Trqansactor_ID] ON [IssuedDocumentProductDetailsT] ([Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Is_New] ON [IssuedDocumentProductDetailsT] ([Is_New]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_ID] ON [IssuedDocumentProductDetailsT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_ID] ON [IssuedDocumentProductDetailsT] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID(Other_Entity)] ON [IssuedDocumentProductDetailsT] ([Transactor_Product_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [TransactorProductMainEntity] ON [IssuedDocumentProductDetailsT] ([Transactor_Product_ID(Main_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [VAT_ID] ON [IssuedDocumentProductDetailsT] ([VAT_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Vat_Transactor_ID] ON [IssuedDocumentProductDetailsT] ([Vat_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */