CREATE INDEX [Is_Deleted] ON [IssuedDocumentFinancialDetailsT] ([Is_Deleted]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_ID] ON [IssuedDocumentFinancialDetailsT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [IssuedDocumentFinancialDetailsT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */