CREATE INDEX [Affects_Inventory] ON [IssuableDocumentT] ([Affects_Inventory]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_Issuer_ID] ON [IssuableDocumentT] ([Document_Issuer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Financial_Details] ON [IssuableDocumentT] ([Has_Financial_Details]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Product_Details] ON [IssuableDocumentT] ([Has_Product_Details]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Is_Valid] ON [IssuableDocumentT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Main_Entity_Debited(For_Financial_Documents)] ON [IssuableDocumentT] ([Main_Financial_Entity_Debited(Commercial_Sector)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Main_Product_Entity_Debited(For_Product_Documents)] ON [IssuableDocumentT] ([Main_Product_Entity_Debited(For_Product_Documents)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Pricelist_FK] ON [IssuableDocumentT] ([Pricelist_FK]); /* IgnoreNulls=False, Required=False, Unique=False */