CREATE INDEX [Issued_Document_Financial_Details_Backup_ID] ON [IssuedDocumentFinancialDetailsBackUpT] ([IssuedDocumentFinancialDetails_Backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_Financial_Details_ID] ON [IssuedDocumentFinancialDetailsBackUpT] ([Issued_Document_Financial_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */