CREATE INDEX [deleted] ON [IssuedDocumentT] ([IS_Deleted]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Document_Insert_UserID] ON [IssuedDocumentT] ([Document_Insert_UserID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Transaction_Point_ID(Other_Entity)] ON [IssuedDocumentT] ([Financial_Transaction_Point_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Has_Been_Cancelled_By_Document_ID] ON [IssuedDocumentT] ([Has_Been_Cancelled_By_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_ID] ON [IssuedDocumentT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issuable_Document_ID] ON [IssuedDocumentT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Date] ON [IssuedDocumentT] ([Issued_Date]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [O] ON [IssuedDocumentT] ([O]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_ID] ON [IssuedDocumentT] ([Transaction_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_Point_ID] ON [IssuedDocumentT] ([Financial_Transaction_Point_ID(Main_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [IssuedDocumentT] ([Transactor_Financial_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID_Main] ON [IssuedDocumentT] ([Transactor_Product_ID(Main_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID_Other] ON [IssuedDocumentT] ([Transactor_Product_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [U] ON [IssuedDocumentT] ([U]); /* IgnoreNulls=False, Required=False, Unique=False */