CREATE INDEX [Accounting_Behavior_ID] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Transactor_ID] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID(Main_Entity)] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([Transactor_Product_ID(Main_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Product_ID(Other_Entity)] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([Transactor_Product_ID(Other_Entity)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [VAT_ID] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([VAT_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Vat_Transactor_ID] ON [IssuedDocumentProductDetailsT_DeletedRecords] ([Vat_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */