CREATE INDEX [Intention_ID] ON [LinkIssuableDocumentsToIntentionsT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issuable_Document_ID] ON [LinkIssuableDocumentsToIntentionsT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUENESS] ON [LinkIssuableDocumentsToIntentionsT] ([Issuable_Document_ID], [Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=True */