CREATE INDEX [Main_IssuableDocument_ID] ON [LinkMainToSupplentaryDocumentsT] ([Main_IssuableDocument_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Supplementary_IssuableDocument_ID] ON [LinkMainToSupplentaryDocumentsT] ([Supplementary_IssuableDocument_ID]); /* IgnoreNulls=False, Required=False, Unique=False */