CREATE INDEX [LinkMonetaryTransactors_To_TransactionPoints_ID] ON [LinkMonetaryTransactorsToTransactionPointsT] ([Link_MonetaryTransactors_To_TransactionPoints_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Monetary_Transactor_ID] ON [LinkMonetaryTransactorsToTransactionPointsT] ([Monetary_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [TransactionPoint_ID] ON [LinkMonetaryTransactorsToTransactionPointsT] ([TransactionPoint_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [LinkMonetaryTransactorsToTransactionPointsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */