CREATE INDEX [Job_ID] ON [LinkTransactorsToJobsT] ([Job_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Transactor_ID_To_Job_ID] ON [LinkTransactorsToJobsT] ([Link_Transactor_To_Job_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [LinkTransactorsToJobsT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [Transactor_ID_With_Job_ID] ON [LinkTransactorsToJobsT] ([Transactor_ID], [Job_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [Transactor_ID_With_Priority_Index] ON [LinkTransactorsToJobsT] ([Transactor_ID], [Priority_Of_Job_For_Transactor]); /* IgnoreNulls=False, Required=False, Unique=True */