CREATE INDEX [Accounting_Article_ID] ON [LinkAccountingArticlesToIssuableDocumentsT] ([Accounting_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_ID] ON [LinkAccountingArticlesToIssuableDocumentsT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issuable_Document_ID] ON [LinkAccountingArticlesToIssuableDocumentsT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Issuable_Documents_To_Accounting_Articles_ID] ON [LinkAccountingArticlesToIssuableDocumentsT] ([Link_Issuable_Documents_To_Accounting_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqness] ON [LinkAccountingArticlesToIssuableDocumentsT] ([Accounting_Article_ID], [Issuable_Document_ID], [Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=True */