CREATE INDEX [Action_Type_ID] ON [LinkExecutedActionsTypeIDAbleToCreateNewActionsTypeIDT] ([Executed_Action_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_Type_ID] ON [LinkExecutedActionsTypeIDAbleToCreateNewActionsTypeIDT] ([Protocol_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */