CREATE INDEX [Intention_ID] ON [LinkProductArticlesToIssuableDocumentsT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issuable_Document_ID] ON [LinkProductArticlesToIssuableDocumentsT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Issuable_Documents_To_Accounting_Articles_ID] ON [LinkProductArticlesToIssuableDocumentsT] ([Link_Issuable_Documents_To_Product_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Article_ID] ON [LinkProductArticlesToIssuableDocumentsT] ([Product_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */