CREATE UNIQUE INDEX [DocumentToUserIDUnique] ON [LinkIssuableDocumentToUserT] ([User_ID], [Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Issuable_Document_ID] ON [LinkIssuableDocumentToUserT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Issuable_Document_To_User_ID] ON [LinkIssuableDocumentToUserT] ([Link_Issuable_Document_To_User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [User_ID] ON [LinkIssuableDocumentToUserT] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */