CREATE INDEX [Attributes_ID] ON [LinkStoredProcToAttributesT] ([Attributes_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_StoredProc_To_Attributes_ID] ON [LinkStoredProcToAttributesT] ([Link_StoredProc_To_Attributes_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Strored_Procedure_ID] ON [LinkStoredProcToAttributesT] ([Strored_Procedure_ID]); /* IgnoreNulls=False, Required=False, Unique=False */