CREATE INDEX [Form_ID] ON [LinkIntentionTypesToFormsT] ([Form_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_Type_ID] ON [LinkIntentionTypesToFormsT] ([Intention_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_IntentionTypes_To_Forms_ID] ON [LinkIntentionTypesToFormsT] ([Link_IntentionTypes_To_Forms_ID]); /* IgnoreNulls=False, Required=False, Unique=False */