CREATE INDEX [Accounting_Articles_ID] ON [LinkAccountingArticlesToFinancialTransactorsT] ([Accounting_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Financial_Transactors_ID] ON [LinkAccountingArticlesToFinancialTransactorsT] ([Financial_Transactors_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Sorting_ID] ON [LinkAccountingArticlesToFinancialTransactorsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UniqueID] ON [LinkAccountingArticlesToFinancialTransactorsT] ([Accounting_Articles_ID], [Financial_Transactors_ID]); /* IgnoreNulls=False, Required=False, Unique=True */