CREATE INDEX [Entity_ID] ON [LInkEntitiesToActionsT] ([Entity_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Entity_Type_ID] ON [LInkEntitiesToActionsT] ([Entity_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Event_ID] ON [LInkEntitiesToActionsT] ([Action_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Entities_To_Events_ID] ON [LInkEntitiesToActionsT] ([Link_Entities_To_Events_ID]); /* IgnoreNulls=False, Required=False, Unique=False */