CREATE INDEX [Attribute_ID] ON [LinkAttributeValueToEntitiesT] ([Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Entity_Type_ID] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [INDEX ENTITY PER ENTITY_TYPE] ON [LinkAttributeValueToEntitiesT] ([Entity_ID], [Entity_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Is_Included_To_Suggested_Attributes] ON [LinkAttributeValueToEntitiesT] ([Is_Included_To_Suggested_Attributes]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [LinkAttributeValueToEntityID_Backup_ID] ON [LinkAttributeValueToEntitiesT] ([LinkAttributeValueToEntityID_Backup_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_ID] ON [LinkAttributeValueToEntitiesT] ([Entity_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_to_Attribute_Value_ID] ON [LinkAttributeValueToEntitiesT] ([Link_Attribute_Value_To_Entity_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUENESS DATE] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID], [Entity_ID], [Attribute_ID], [Attribute_Value_Date]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS NUMBER] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID], [Entity_ID], [Attribute_ID], [Attribute_Value_Number]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS STRING] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID], [Entity_ID], [Attribute_ID], [Attribute_Value_String]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS TIME] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID], [Entity_ID], [Attribute_ID], [Attribute_Value_Time]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [UNIQUENESS TIMESTAMP] ON [LinkAttributeValueToEntitiesT] ([Entity_Type_ID], [Entity_ID], [Attribute_ID], [Attribute_Value_TImestamp]); /* IgnoreNulls=False, Required=False, Unique=True */