CREATE INDEX [Accounting_Behavior_ID] ON [LinkProductsToCompanyFinancialTransactorsT] ([Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_Type_ID] ON [LinkProductsToCompanyFinancialTransactorsT] ([Intention_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_ID] ON [LinkProductsToCompanyFinancialTransactorsT] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [ProductsWithIntentions] ON [LinkProductsToCompanyFinancialTransactorsT] ([Product_ID], [Intention_Type_ID], [Transactor_Financial_ID], [Accounting_Behavior_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Transactor_Financial_ID] ON [LinkProductsToCompanyFinancialTransactorsT] ([Transactor_Financial_ID]); /* IgnoreNulls=False, Required=False, Unique=False */