CREATE INDEX [Discount_Or_Offer_ID] ON [LinkProductsToPricelistsT] ([Discount_Or_Offer_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Price_List_ID] ON [LinkProductsToPricelistsT] ([Price_List_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_ID] ON [LinkProductsToPricelistsT] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_To_Pricelist_ID] ON [LinkProductsToPricelistsT] ([Product_To_Pricelist_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqueness] ON [LinkProductsToPricelistsT] ([Product_ID], [Price_List_ID], [Activation_Timestamp]); /* IgnoreNulls=False, Required=False, Unique=True */