CREATE INDEX [Action_Types_ID] ON [LinkStoredProcToActionTypesT] ([Action_Types_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_StoredProc_To_ActionTypes_ID] ON [LinkStoredProcToActionTypesT] ([Link_StoredProc_To_ActionTypes_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Strored_Procedure_ID] ON [LinkStoredProcToActionTypesT] ([Strored_Procedure_ID]); /* IgnoreNulls=False, Required=False, Unique=False */