CREATE INDEX [Link_Pricelists_To_Intentions_ID] ON [LinkPricelistsToIntentionsT] ([Link_Pricelists_To_Intentions_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Pricelist_ID] ON [LinkPricelistsToIntentionsT] ([Pricelist_ID]); /* IgnoreNulls=False, Required=False, Unique=False */