CREATE INDEX [Intention_ID] ON [LinkIssuedDocumentToIntentionsT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Issued_Document_ID] ON [LinkIssuedDocumentToIntentionsT] ([Issued_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_IssuedDocumentID_To_IntentionID_ID] ON [LinkIssuedDocumentToIntentionsT] ([Link_IssuedDocumentID_To_IntentionID_ID]); /* IgnoreNulls=False, Required=False, Unique=False */