CREATE INDEX [Function_ID] ON [LinkFunctionsToUsersT] ([Function_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [LInk_Functions_To_Users_ID] ON [LinkFunctionsToUsersT] ([LInk_Functions_To_Users_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqueness] ON [LinkFunctionsToUsersT] ([Function_ID], [User_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [User_ID] ON [LinkFunctionsToUsersT] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */