CREATE INDEX [AdditiveViewPositionID] ON [LinkProductsAsAdditivesToOtherProductsT] ([AdditiveViewPositionID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Child_Product_ID_(Additive)] ON [LinkProductsAsAdditivesToOtherProductsT] ([Child_Product_ID_(Additive)]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Parent_Product_ID] ON [LinkProductsAsAdditivesToOtherProductsT] ([Parent_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UniquenessIndex] ON [LinkProductsAsAdditivesToOtherProductsT] ([Parent_Product_ID], [Child_Product_ID_(Additive)]); /* IgnoreNulls=False, Required=False, Unique=True */