CREATE INDEX [Attribute_ID] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Can_Have_Multiple_Values] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Can_Have_Multiple_Values]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Entity_ID] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Reference_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Entity_Type_ID] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Entity_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Entity_Type_IDs_To _Be_Linked_With_Attributes_ID] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Entity_Type_IDs_To _Be_Linked_With_Attributes_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUENESS] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([Entity_Type_ID], [Reference_ID], [Attribute_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [View_ID] ON [LInkReferenceID(EntityTypeID)ToAttributeIDsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */