CREATE INDEX [Duties_Per_Job_ID] ON [LInkDutiesPerJobT] ([Duties_Per_Job_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Duty_ID] ON [LInkDutiesPerJobT] ([Duty_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Job_ID] ON [LInkDutiesPerJobT] ([Job_ID]); /* IgnoreNulls=False, Required=False, Unique=False */