CREATE INDEX [Intention_ID] ON [LinkIntentionToTransactorTypeForDocumentUseT] ([Intention_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Preselected] ON [LinkIntentionToTransactorTypeForDocumentUseT] ([Preselected]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Type_Group] ON [LinkIntentionToTransactorTypeForDocumentUseT] ([Transactor_Type_Group]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Type_ID] ON [LinkIntentionToTransactorTypeForDocumentUseT] ([Transactor_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqness] ON [LinkIntentionToTransactorTypeForDocumentUseT] ([Intention_ID], [Transactor_Type_Group], [Transactor_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=True */