CREATE INDEX [Duty_ID] ON [LinkTransactorsToDutiesT] ([Duty_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_Transactor_ID_To_Duty_ID] ON [LinkTransactorsToDutiesT] ([Link_Transactor_To_Duty_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [LinkTransactorsToDutiesT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */