CREATE INDEX [Accounting_Articles_ID] ON [LinkProductArticlesToProductsT] ([Product_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_ID] ON [LinkProductArticlesToProductsT] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [LinkProductArticlesToProductsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */