CREATE INDEX [Issuable_Document_ID] ON [LinkIssuableDocumentToTransactionPointsT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_Point_ID] ON [LinkIssuableDocumentToTransactionPointsT] ([Transaction_Point_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUE_DOCUMENT_PER_TRANSACTION_POINT] ON [LinkIssuableDocumentToTransactionPointsT] ([Issuable_Document_ID], [Transaction_Point_ID]); /* IgnoreNulls=False, Required=False, Unique=True */