CREATE INDEX [Link_User_To_Accounting_Articles_ID] ON [LinkUsersToProductArticles] ([Link_User_To_Product_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Article_ID] ON [LinkUsersToProductArticles] ([Product_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [User_ID] ON [LinkUsersToProductArticles] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */