CREATE INDEX [Form_ID] ON [LinkIssuableDocumentsToFormsT] ([Form_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [Issuable_Document_ID] ON [LinkIssuableDocumentsToFormsT] ([Issuable_Document_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Link_IssuableDocuments_To_Forms_ID] ON [LinkIssuableDocumentsToFormsT] ([Link_IssuableDocuments_To_Forms_ID]); /* IgnoreNulls=False, Required=False, Unique=False */