CREATE INDEX [Installation_ID] ON [LinkStoragesToInstallationsT] ([Installation_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [StorageID] ON [LinkStoragesToInstallationsT] ([StorageID]); /* IgnoreNulls=False, Required=False, Unique=False */