CREATE INDEX [Action_Type_ID] ON [LinkActionTypesToProtocolTypes] ([Action_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_ActionTypeID_To_ProtocolTypeID_ID] ON [LinkActionTypesToProtocolTypes] ([Link_ActionTypeID_To_ProtocolTypeID_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_Type_ID] ON [LinkActionTypesToProtocolTypes] ([Protocol_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [LinkActionTypesToProtocolTypes] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */