CREATE INDEX [Accounting_Article_ID] ON [LinkUsersToAccountingArticles] ([Accounting_Article_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Link_User_To_Accounting_Articles_ID] ON [LinkUsersToAccountingArticles] ([Link_User_To_Accounting_Articles_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [User_ID] ON [LinkUsersToAccountingArticles] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */