CREATE INDEX [Financial_Transactor_ID] ON [LinkFinancialTransactorsToVatTransactorsT] ([Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [TransactorIDAndVatTransactorIDUniqueness] ON [LinkFinancialTransactorsToVatTransactorsT] ([Financial_Transactor_ID], [Vat_Transactor_ID]); /* IgnoreNulls=True, Required=False, Unique=True */
CREATE INDEX [Vat_Transactor_ID] ON [LinkFinancialTransactorsToVatTransactorsT] ([Vat_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [LinkFinancialTransactorsToVatTransactorsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */