CREATE INDEX [Log_In_ID] ON [LoginActivityT] ([Log_In_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [User_ID] ON [LoginActivityT] ([User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */