CREATE INDEX [Intention_ID] ON [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ([Intention_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Map_Document_Product_To_Transactor_ID] ON [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ([Map_Document_Product_Rows_To_Company's_Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_Point_ID] ON [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ([Transaction_Point_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactory_ID] ON [Map_Document_Product_Rows_To_Company's_Financial_TransactorT] ([Company"s_Financial_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */