CREATE INDEX [%VAT] ON [Map_Document_Product_Rows_To_VAT_TransactorT] ([%VAT]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Company's_Transactor_ID] ON [Map_Document_Product_Rows_To_VAT_TransactorT] ([VAT_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Intention_Type_ID] ON [Map_Document_Product_Rows_To_VAT_TransactorT] ([Intention_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Map_Document_Product_Records_To_Transactor_ID] ON [Map_Document_Product_Rows_To_VAT_TransactorT] ([Map_Document_Product_Records_To_VAT_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */