CREATE INDEX [Price_List_ID] ON [PriceListsT] ([Price_List_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [View_ID] ON [PriceListsT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=True */