CREATE INDEX [In_Use] ON [ProductTypeT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqueness] ON [ProductTypeT] ([Type_Description]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [View_ID] ON [ProductTypeT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=True */