CREATE INDEX [Product ID] ON [ProductToSupplierLinkΤ] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product to Supplier Link ID] ON [ProductToSupplierLinkΤ] ([Product_To_Supplier_Link_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Supplier_ID] ON [ProductToSupplierLinkΤ] ([Supplier_ID]); /* IgnoreNulls=False, Required=False, Unique=False */