CREATE UNIQUE INDEX [Barcode_for_internal_use] ON [ProductsT] ([Barcode_for_internal_use]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE UNIQUE INDEX [Barcode_official] ON [ProductsT] ([Barcode_official]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Base_Product_ID] ON [ProductsT] ([Base_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Marketing Label] ON [ProductsT] ([Marketing Label]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Measure Unit for Purchases / Sales] ON [ProductsT] ([Measure_Unit_For_Purchases/Sales_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product Category ID] ON [ProductsT] ([Product_Category_ID]); /* IgnoreNulls=True, Required=False, Unique=False */
CREATE INDEX [Product Type ID] ON [ProductsT] ([Product_Type_ID]); /* IgnoreNulls=True, Required=False, Unique=False */
CREATE INDEX [Product_Description] ON [ProductsT] ([Product_Description]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Subcategory_ID] ON [ProductsT] ([Product_Subcategory_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [SKU] ON [ProductsT] ([SKU]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [VAT_Category_ID] ON [ProductsT] ([VAT_Category_ID]); /* IgnoreNulls=True, Required=False, Unique=False */