CREATE INDEX [Product_ID] ON [ProductInventoryBalanceT] ([Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Product_Inventory_Balance_ID] ON [ProductInventoryBalanceT] ([Product_Inventory_Balance_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Warehouse_ID] ON [ProductInventoryBalanceT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */