CREATE INDEX [uniqueness] ON [ProductCategoryT] ([Category_Description]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [View_ID] ON [ProductCategoryT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=True */