CREATE INDEX [Purchased_Product_ID] ON [ProductToProductAlterationLinkT] ([Purchased_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Sale-Consumed_Product_ID] ON [ProductToProductAlterationLinkT] ([Sale-Consumed_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */