CREATE INDEX [Subcategory_ID] ON [ProductSubcategoryT] ([Subcategory_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [View_ID] ON [ProductSubcategoryT] ([View_ID]); /* IgnoreNulls=False, Required=False, Unique=False */