CREATE INDEX [Importance_Level] ON [ProtocolsT] ([Priority_Level]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Permanently_Closed] ON [ProtocolsT] ([Permanently_Closed]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_ID] ON [ProtocolsT] ([Protocol_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_Insert_User_ID] ON [ProtocolsT] ([Protocol_Insert_User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Protocol_Type_ID] ON [ProtocolsT] ([Protocol_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */