CREATE INDEX [Country_ID] ON [ProvincesT] ([Country_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Province_ID] ON [ProvincesT] ([Province_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [UNIQUENESS] ON [ProvincesT] ([Country_ID], [Province_Description]); /* IgnoreNulls=False, Required=False, Unique=True */