CREATE INDEX [Sale Product ID] ON [RecipesΤ] ([Sale_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Κωδικός αναλώσιμου προϊόντος] ON [RecipesΤ] ([Consumable_Product_ID]); /* IgnoreNulls=False, Required=False, Unique=False */