CREATE INDEX [Form_ID] ON [ShortcutKeysT] ([Form_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Shortcut_Key_ID] ON [ShortcutKeysT] ([Shortcut_Key_ID]); /* IgnoreNulls=False, Required=False, Unique=False */