CREATE INDEX [Transactor_Basic_Last_Modification_User_ID] ON [TransactorDetailsT] ([Transactor_Details_Last_Modification_User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [TransactorDetailsT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [VAT_Status_ID] ON [TransactorDetailsT] ([VAT_Status_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Zip Code] ON [TransactorDetailsT] ([Zip Code]); /* IgnoreNulls=False, Required=False, Unique=False */