CREATE INDEX [In_Use] ON [TransactionPointsT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Installation_ID] ON [TransactionPointsT] ([Installation_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Preselected_StorageID] ON [TransactionPointsT] ([Preselected_StorageID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_Point_ID] ON [TransactionPointsT] ([Transaction_Point_ID]); /* IgnoreNulls=False, Required=False, Unique=False */