CREATE INDEX [Postal_Code] ON [TransactorAddressDetailsT] ([Postal_Code]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Address_ID] ON [TransactorAddressDetailsT] ([Transactor_Address_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_ID] ON [TransactorAddressDetailsT] ([Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [uniqness] ON [TransactorAddressDetailsT] ([Transactor_ID], [Street_Name], [Street_Number]); /* IgnoreNulls=False, Required=False, Unique=True */