CREATE INDEX [Transactor_Contact_Details_ID] ON [TransactorContactDetailsT] ([Transactor_Contact_Details_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_Id] ON [TransactorContactDetailsT] ([Basic_Tsansactor_ID_FK]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [TransactorContactTypeID] ON [TransactorContactDetailsT] ([Transactor_Contact_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */