CREATE INDEX [Account_ID] ON [TransactorsT] ([Account_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Basic_Transactor_ID] ON [TransactorsT] ([Basic_Transactor_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE UNIQUE INDEX [BasicTransactorIDWithTransactorTypeID] ON [TransactorsT] ([Basic_Transactor_ID], [Transactor_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=True */
CREATE INDEX [Entity_Type_ID] ON [TransactorsT] ([Transactor_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [In_Use] ON [TransactorsT] ([In_Use]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [User_ID] ON [TransactorsT] ([Transactor_Last_Modification_User_ID]); /* IgnoreNulls=False, Required=False, Unique=False */