CREATE INDEX [Deleted] ON [TransactionsT] ([Is_Deleted]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transaction_Type_ID] ON [TransactionsT] ([Transaction_Type_ID]); /* IgnoreNulls=False, Required=False, Unique=False */