CREATE INDEX [County_ID] ON [VATStatusT] ([Country_ID]); /* IgnoreNulls=False, Required=False, Unique=False */
CREATE INDEX [Transactor_VAT_Status_ID] ON [VATStatusT] ([VAT_Status_ID]); /* IgnoreNulls=False, Required=False, Unique=False */